@media (min-width: 960px) and (max-width: 1535px){
  .krishka{
    top: 85%;
    left: 8%;
    z-index: 1;
  }
}
@media (min-width: 960px) and (max-width: 1300px) {
  #wrapper{
    .logo{
      .descript_logo{
        right: 10px;
      }
    }
  }
  .polovnik{
    top: 17%;
    left: 1%;
  }
  .lemon{
    top: 45%;
  }
  .krishka{
    top: 85%;
    left: 2%;
  }
  .kastrula{
    top: 90%;
    left: 1%;
  }
  .skovoroda2{
    top: 30%;
    right: 1%;
  }
  .perez{
    top: 85%;
    right: 1%;
  }
}

@media (min-width: 484px) and (max-width: 575px){
  .main_slider .main_slide_item .box_test_slide{
    width: 68%;
  }

}
@media (min-width: 481px) and (max-width: 483px){
  .main_slider .main_slide_item .box_test_slide{
    width: 69%;
  }
}

input#nav{ display: none;}

@media (max-width: 1156px){

  .modal>.next_tov{  display: none;  }
  .modal>.prev_tov{  display: none;  }
}
@media (min-width: 769px) and (max-width: 1156px){
  .modal{  margin-left: -290px;  }
}


#nav{  display:none;  }