@import "style";

@import "slick";

a{
  text-decoration: none;
  &:hover{
    border-bottom: 1px dotted;
    text-decoration: none;
  }
}
body{
  .background-grad;
  height: 100%;
  overflow-x: hidden;
  min-height: 100%;
}
#wrapper{
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  min-height: 100%;

}
header{
  background: @color_grey;
  width: 100%;
  height: 49px;
  .time_and_date{
    width: 13%;
    float: left;
    margin-top: 20px;
    p.time{
      display: inline-block;
      font-size: .8125em;
      color: @color-black;
      padding: 0 5.75% 0 9.5%;

    }
    p.date{
      display: inline-block;
      font-size: .8125em;
      color: @color-black;
      padding: 0 0 0 5.75%;

    }
  }
  .search{
    float: left;
    position: relative;
    margin-top: 18px;
    width: 19.2%;
    input[type="text"]{
      border: 1px solid #e8e8e8;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      height: 17px;
      width: 100%;
      padding-left: 5px;
    }
    input[type="button"]{
      position: absolute;
      top: 0;
      right: 0;
      background: url(../img/search.png) 0 0 no-repeat;
      width: 20px;
      height: 22px;
      border: 0;
      outline:none;
      cursor: pointer;
      &:active{
        outline:none;
        top: 2px;
      }
      &:focus{
        outline:none;
      }
    }
  }
  .lang{
    float: left;
    margin-top: 20px;
    margin-left: 2%;
    a.eng{
      font-size: .8125em;
      color: @color-blue;

    }
  }
  .contact{
    float: right;
    text-align: right;
    width: 33.25%;
    margin-top: 20px;
    a.partner{
      color: @color-black;
      text-decoration: none;
      font-size: .8125em;
      position: relative;
      &:hover{
        border-bottom: 1px dotted @color-black;
      }
      &:before{
        content:"";
        width: 23px;
        height: 18px;
        background: url(../img/partner_ico.png) 0 0 no-repeat;
        position: absolute;
        top: 0px;
        left: -28px;
      }
    }
    a.back_message{
      text-align: right;
      color: @color-black;
      text-decoration: none;
      font-size: .8125em;
      position: relative;
      margin: 0 16% 0 18%;
      &:before{
        content:"";
        width: 17px;
        height: 11px;
        background: url(../img/ico-mail.png) 0 0 no-repeat;
        position: absolute;
        top: 3px;
        left: -20px;
      }
    }
    a.home{
      display: block;
      float: right;
      width: 18px;
      height: 18px;
      background: url(../img/ico-home.png) 0 0 no-repeat;
      -webkit-background-size: 100%;
      background-size: 100%;
      &:hover{
        border:none;
      }
    }

  }

}
.main_slider{
  /*Drm-edit*/
  .main_slide_item{
    position: relative;
    img{
      width: 100%;
    }
    .box_test_slide{
      width: 50%;
      position: absolute;
      top: 0;
      left: 6%;

      h1{
        .font_dincondensedc;
        margin-top: 17%;
        font-size: 2.6em;
        text-transform: uppercase;
      }
      h2{
        .font_dincondensedc;
        font-size: 1.303em;
        text-transform: uppercase;
        margin-top: 2%;
      }
      p{
        font-size: .65em;
        margin-top: 2.5%;
      }
      a{
        border: 1px solid @color-dark-brown;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 6px 15px 6px 15px;
        font-size: .63em;
        text-decoration: none;
        color: #000000;
        display: inline-block;
        margin: 5% 0 0 .5%;
        &:hover{
          background: #dddddd;
        }
      }
    }
  }
}
.logo{
  clear: both;
  width: 100%;
  background: url(../img/logo.jpg) 0 34% no-repeat;
  background-color: #fff;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 240px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
  .logo-box{
    width: 79px;
    height: 79px;
    background: url(../img/kalitva_logo.png) 0 0 no-repeat;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 7.59%;
    &:hover{
      border: 0;
    }
  }
  p.descript_logo{
    position: absolute;
    display: block;
    color: @color-brown;
    .font_Museo_300;
    font-size: 1em;
    right: -160px;
    top: 40%;
    width: 150px;
    text-transform: uppercase;
  }
}
.navigation{
  background: @color-white;
  margin-top: -4px;
  padding-top: 20px;
  .nav-box{
    width: 91.25%;
    margin: 0 auto;
    background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAACAAEDASIAAhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAAAAP/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AKAA/9k=") 0 50% repeat-x;
    ul{
      text-align: center;
      li{
        display: inline-block;
        background: @color-white;
        list-style-type: none;
        padding: 0 5px;
        margin: 0 2.3%;
        a{
          text-transform: uppercase;
          color: @color-blue;
          font-size: 1.23em;
          .font_dincondensedc;
          text-decoration: none;
        }


      }
    }
  }
}
.info-box{
  background: url(../img/box-shadow.jpg) 0 98% no-repeat;
  background-color: @color-white;
  padding: 65px 0 87px;
  overflow: hidden;
  text-align: center;
  .left{
    float: left;
    width: 49.9%;
    h2{
      width: 81.875%;
      margin-left: 10.833333%;
      font-size: 1.2em;
      line-height: 1.3;
      text-align: left;
    }
    p{
      display: block;
      width: 81.875%;
      margin-left: 10.833333%;
      font-size: .8125em;
      line-height: 1.2;
      text-align: left;


    }
    a{
      display: inline-block;
      width: 14.583333%; /*70px*/
      padding: 5px 0 5px 7.333333%; /*40px*/
      text-align: left;
      .font_Museo_500;
      font-size: .71em;
      line-height: 1.3;
      color: @color-black;
      &:hover{
        border: 0;
        color: #4776be;
      }

      &:nth-child(1){
        margin-left: 100px;
      }
      &:nth-last-child(1){
        margin-right: 0;
      }
    }
    a.a_more{
      background: url(../img/li-i.png) 0 50% no-repeat;
      margin: 40px 4.166666% 0 12.5% ;

    }
    a.a_catalog{
      background: url(../img/li-book.png) 0 50% no-repeat;
      margin: 40px 5% 0 4.166666%;
    }
    a.a_contact{
      background: url(../img/li-tel.png) 0 50% no-repeat;
      margin: 40px 0 0 5%;
    }
    .line{
      display: none;
    }
    span{
      display: none;
    }
  }
  .right{
    float: left;
    width: 50%; /*480px*/

    img{

    }
  }
}
footer{
  background: @color-white;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 35px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px;
  .lang{
    display: inline-block;
    width: 29%;
    vertical-align: middle;
    text-align: center;
    a{
      font-size: .8125em;
      color: @color-link-blue;
    }
  }
  .nav{
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    table{
      border-collapse: collapse;
      width: 100%;
      tbody{
        tr{
          td{
            width: 33%;
            a{
              font-size: .75em;
              color: @color-black;
              text-decoration: none;

            }
          }
        }
      }
    }

  }
  .contact{
    display: inline-block;
    margin-left: 2%;
    a{
      display: block;
    }
    a.tel{
      font-size: 1em;
      color: @color-black;
      text-decoration: none;
      line-height: 1.6;

      &:hover{
        border: 0;
      }

      span{
        font-weight: bold;

      }

    }
    a.mail{
      font-size: .6em;
      color: @color-link-blue;
      &:hover{
        border: 0;
      }
    }
  }

}
.parallax-item{
  position: absolute;
}
.polovnik{
  top: 17%;
  left: 5%;
}
.lemon{
  top: 45%;
  left: -5%;
}
.krishka{
  top: 85%;
  left: 8%;
  z-index: 9;
}
.kastrula{
  top: 90%;
  left: 6%;
}
.skovoroda2{
  top: 30%;
  right: 10%;
}
.perez{
  top: 85%;
  right: 16%;
}
.skovoroda5{
  top: 150%;
  left: 2%;

}
.chashka{
  top: 140%;
  right: 15%;
}
.kastrula2{
  top: 210%;
  left: -5%;
}
.krujka{
  top: 215%;
  right: 10%;
}
.skovoroda6{
  top: 280%;
  left: 10%;
}
.chashka2{
  top: 270%;
  right: 0;
}
.chashka3{
  top: 330%;
  left: 4%;
}
.kofeinik{
  top: 325%;
  right: 0;
}


/**Правки для внутренних страниц**/
.min-header{
  background: @color-white;
  height: 50px;
  .logo-box{
    top: -40px;
    right: 50%;
    margin-right: -40px;
  }
  p.descript_logo{ display: none; }
}
.other_page_navigation{
  padding-top: 10px;
  .nav-box{
    ul{
      .checked_nav{
        border: 1px solid @color-light-grey2;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding-top: 2px;
        a{
          color: @color-light-grey2;
          :hover{
            border-bottom: 0px dotted;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.breadcrumbs{
  padding: 15px 13% 30px;
  background: url(../img/box-shadow.jpg) 0 98% no-repeat;
  background-color: @color-white;
  -webkit-background-size: 100%;
  background-size: 100%;
  a{
    color: @color-blue;
    font-size: .65em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1%;
  }
  img.breadcrumbs-arrow{
    display: inline-block;
    vertical-align: middle;
  }
  span.this_page{
    font-size: .65em;
    color: #636363;
    display: inline-block;
    vertical-align: middle;
  }

}
/*Для страницы акции*/
.content{
  overflow: hidden;
  background: @color-white;
  aside{
    float: left;
    vertical-align: top;
    background: #ffffff;
    width: 19.166666%;
    padding: 55px 2.395833% 0 5.208333%;
    a.full_cat{
      color: @color-dark_blue;
      font-size: .81em;

    }
    a.action{
      display: block;
      color: @color-dark_blue;
      font-size: .81em;

    }
    h2{
      padding: 5px 0 15px;
      font-size: .915em;
      color: @color-blue;
    }
    ul.cat_navigation{
      margin: 30px 0 0 0;
      min-width: 0;

      li{
        margin-bottom: 2px;
        list-style-type: none;
        a{
          color: @color-grey2;
          font-size: .75em;
          text-decoration: none;

          padding-bottom: 3px;

          &:hover{
            color: #4776be;
            border: 0;
          }

        }
        span.checked_cat_nav{
          font-size: .75em;
          color: #4776be;
          text-decoration: none;
          padding-bottom: 3px;
        }
      }
    }
    ul.cat_navigation_lev2{
      margin-left: 6%;
      li{
        a{
          border-bottom: 0;
          &:hover{
            color: #4776be;
            border: 0;
          }
        }
      }
    }
  }
  .box_content{
    float: left;
    width: 67.291666%; /*646px*/
    padding-right: 5.416666%;
    padding-top: 59px;
    margin-bottom: 30px;
    .item_action{
      padding-bottom: 20px;
    }
    img{
      display: inline-block;
      width: 30.340557%;
      margin-right: 2.895975%;
      vertical-align: top;

    }
    .action_text{
      display: inline-block;
      width: 66.099071%;
      vertical-align: top;

      h3{
        font-size: 1.17em;
        line-height: 1.4;
        margin-bottom: 5px;

      }
      h4{
        font-size: .9em;
        margin: 15px 0;
      }
      p{
        font-size: 0.8125em;
        line-height: 1.3;
        padding: 5px 0;
      }
      a.continue{
        float: right;
        font-size: 0.8125em;
        margin: 16px 20px 0 0 ;
        color: @color-link-blue;
      }
    }

  }


}
.row{
  text-align: center;
  padding-bottom: 45px;
  padding-top: 20px;
  background: url(../img/box-shadow.jpg) 0 87% no-repeat;
  background-color: @color-white;
  a.dop_button{
    border: 1px solid @color-grey2;
    color: @color-grey2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 6.5%;
    &:hover{
      background: #dddddd;
    }

  }
}
/*Для страницы каталог*/

.catalog-option{
  position: relative;
  .catalog_option_line{
    border-bottom: 2px solid #c6c6c6;
    margin-bottom: -15px;
    width: 89%;
  }
  .opt{
    display: inline-block;
    width: 22.322142%; /*152px*/
    p{
      display: block;
      .font_Museo_500;
      font-size: .7em;
      color: #7b7b7b;
      margin-right: 2%;
      padding: 0 5px;
      background: url(../img/arrow-bottom.png) 89% 50% no-repeat;
    }
    /*Селекты панели управления*/
    .selectbox{
      width: 100%;
      margin-right: 1%;
      margin-top: -25px;
      .select{
        padding-top: 45px;
        display: block;
        cursor: pointer;
        overflow: hidden;
        width: 90%;
        .text{
          white-space: nowrap;
          .font_Museo_500;
          font-size: .7em;
          color: #3f3f3f;
          border-bottom: 2px solid #81769f;
          padding: 0 5px 5px;
        }
      }
      .dropdown{
        top: 44px;
        background-color: #ffffff;
        z-index: 10000 !important;
        margin-top: -13px;
        border-bottom: 2px solid #81769f;
        ul{
          min-width: 0;
          width: 150px;
          li{
            padding: 13px 5px;
            list-style-type: none;
            overflow: hidden;
             white-space: pre-wrap;
            .font_Museo_500;
            font-size: .7em;
            color: #3f3f3f;
            cursor: pointer;
            &:hover{
              background: #ddd;
            }
          }
        }
      }
    }
  }
}
.ver2{
  margin-top: -15px;
  .catalog_option_line{  display: none;  }

  .opt{
    .selectbox{
      margin-top: 0;
      .select{
        padding-top: 15px;
        background: url(../img/arrow-bottom.png) 96% 57% no-repeat;
      }
    }
    p{  display: none;  }
  }
}
.content_catalog{
  aside{
    float: left;
    vertical-align: top;
    background: #ffffff;
    width: 19.166666%;
    padding: 55px 0 0 5.208333%;
  }
  .box_content_catalog{
    float: left;
    width: 70%;
    padding-top: 59px;
    margin-bottom: 30px;
    .catalog_option{
      display: none;

    }
    .catalog_item{
      text-decoration: none;
      display: inline-block;
      width: 24%;
      text-align: center;
      padding: 4.4%;
      position: relative;
      color: #636363;
      &:hover{
        border: 0;
        span.name_catalog_item{
          border-bottom: 1px dotted;
        }
      }
      span.label{
        position: absolute;
        display: block;
        width: 52px;
        height: 52px;
        top: 5px;
        right: 20px;
      }
      span.action{
        background: url(../img/label_action.png) 50% 50% no-repeat;
      }
      span.new{
        background: url(../img/label_new.png) 50% 50% no-repeat;
      }
      img{
        display: block;
        width: 100%;
        margin-bottom: 25px;

      }
      span.name_catalog_item{
        text-decoration: none;
        color: @color-grey2;
        font-size: .8125em;
        padding-top: 24px;

      }


    }
  }

}

/*Модальное окно*/

.modal{
  text-align: center;
  position: absolute;
  top: 2%;
  left: 50%;
  margin-left: -550px;
  z-index: 10;
  a.close{
    position: absolute;
    top: 10px;
    right: 10%;
    font-size: 0.8em;
    text-decoration: none;
    color: #000;
    z-index: 40;
  }
  .prev_tov{
    display: inline-block;
    width: 270px;
    vertical-align: top;
    margin-top: 10%;
    img{
      width: 100%;
    }
    p{
      padding: 80px 0 0 0;
      font-size: 1em;
    }
  }
  .next_tov{
    display: inline-block;
    width: 270px;
    vertical-align: top;
    margin-top: 10%;
    img{
      width: 100%;
    }
    p{
      padding: 80px 0 0 0;
      font-size: 1em;
    }
  }
  .main_modal_slider{
    width: 580px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    .block{
      width: 472px;
      height: 595px;
      background: #ffffff ;
      position: absolute;
      top: 55px;
      border: 1px solid #d7d7d8;
      left: 57px
    }
    .main_modal_slide_item{
      padding: 0 55px 35px;
      width: 360px !important;
      margin: 55px;
      height: 560px;
      opacity: 0;
      transition-duration: .3s;
      .head{
        margin-bottom: 15px;
        position: relative;
        img{
          margin: -28px 0 0 11px;
        }
        a.close{
          position: absolute;
          color: #000;
          top: -55px;
          right: 0;
          border-bottom: 1px dotted #000;
          font-size: 0.8em;
          text-decoration: none;

        }

      }
      h2{
        font-size: 1.51em;
        text-align: center;
      }
      p{
        font-size: .7em;
        text-align: center;
        padding-top: 10px;
      }
      .option_box{
        margin-top: 5px;
        text-align: center;
        min-height: 100px;
        position: relative;
        input[type="radio"]{display: none;}
        input[type="radio"]:checked + label>span{opacity: 1; z-index: 5;}
        input[type="radio"]:checked + label>span>span{opacity: 1; z-index: 5;}
        label{
          display: inline-block;
          width: 54px;
          height: 54px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          margin: 0 5px 15px;
          cursor: pointer;
          vertical-align: top;
          &:hover{
            background-color: #DDDDDD;

            span{
              z-index: 10;
              opacity: 1;
            }
          }
          span{
            opacity: 0;
            position: absolute;
            bottom: 5px;
            left: 0;
            background: #fff;
            display: block;
            transition: .3s;
          }
          span.label_block{
            width: 100%;
            height: 10px;
            background: #FFFFFF;

            span.text{
              position: relative;
              margin: 0 auto;
              font-size: .7em;
            }
          }
        }
        label.option1{
          background: url(../img/option1.png) 50% 50% no-repeat;
          &:hover{
            background-color: #DDDDDD;
          }
        }
        label.option2{
          background: url(../img/option2.png) 50% 50% no-repeat;
          &:hover{
            background-color: #DDDDDD;
          }
        }
        label.option3{
          background: url(../img/option3.png) 50% 50% no-repeat;
          &:hover{
            background-color: #DDDDDD;
          }
        }
        label.option4{
          background: url(../img/option4.png) 50% 50% no-repeat;
          &:hover{
            background-color: #DDDDDD;
          }
        }
        label.option5{
          background: url(../img/option5.png) 50% 50% no-repeat;
          &:hover{
            background-color: #DDDDDD;
          }
        }

        p.text_option{
          padding-top: 0;
          max-height: 0;
          opacity: 0;
          transition: .7s;

        }

      }
      .osobennost_box{
        margin-top: 10px;
        ul.tabs_osobennost{
          li{
            display: inline-block;
            width: 117px;
            cursor: pointer;
            height: 55px;
            vertical-align: middle;
            line-height: 3.4;
            margin-bottom: 20px;
            .font_myriad_pro;

          }
          li.current {
            background: #9a9a9a;
            &:after {
              content: "";
              display: block;
              margin-top: 1px;
              border: 58px solid rgba(0, 0, 0, 0);
              border-top: 10px solid #9a9a9a;
            }
          }
        }
        .box{
          font-size: .8em;
          text-align: center;
          .font_myriad_pro;
        }


        text-align: center;
        min-height: 120px;


      }
      table{
        border-collapse: collapse;
        text-align: center;
        tbody{
          tr{
            border-bottom: 1px solid #5e52a8 ;
            th{
              .font_myriad_pro;
              color: #767576;
              font-size: .7em;
              padding: 4px 2px;
            }
            td{
              padding: 4px 0;
              .font_myriad_pro;
              color: #767576;
              font-size: .7em;
            }
          }
        }
      }
    }
    .slick-active{
      opacity: 1;
      transition-delay: .6s;
      transition-duration: .3s;
    }

  }

  ul.slick-dots{ display: none !important;}
  button.slick-prev{
    width: 35%;
    top: 10%;
    left: -35%;
    height: 595px;
    background: url(../img/arrow-left-item-modal.png) 15% 90% no-repeat;

    span.text{
      content:"";
      display: block;
      width: 100px;
      height: 20px;

    }
    span.image{

    }
  }
  button.slick-next{
    width: 35%;
    top: 10%;
    right: -35%;
    height: 595px;
    background: url(../img/arrow-right-item-modal.png) 85% 90% no-repeat;
    span.text{
      content:"Кофеварка";
    }
  }
}

/*О нас*/

.about{
  overflow: hidden;
  background: @color-white;
  .left{
    width: 41%;
    float: left;
    padding: 0 2% 0 7%;
    text-align: center;
  }
  .right{
    width: 41%;
    float: left;
    padding: 0  7% 0 2%;
    text-align: center;
  }
  table{
    width: 100%;
    tr{
      th{
        width: 41%;
        padding: 0 2% 0 7%;
        vertical-align: top;
        text-align: center;
      }
      td{
        width: 41%;
        padding: 0  7% 0 2%;
        vertical-align: top;
        text-align: center;
      }
    }

  }
  .box{
    margin-bottom: 35px;
    text-align: left;
  }
  h2{
    font-size: 1.2em;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  p{
    font-size: .8125em;
    line-height: 1.35;

  }
  ul{
    margin: 16px 0 0 17px;
    li{
      padding-bottom: 13px;
      .font_myriad_pro;
      list-style-type: none;
      font-size: .8125em;;

    }
  }
  a.add_partner{
    border: 1px solid #636363;
    color: #636363;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 6.5%;
    font-size: .7em;
    &:hover{ background-color: #ddd ;}
  }

}
.partner_box{
  background: @color-white;
  p{
    font-size: .7em;
    color: #000;
    padding: 0 6%;
  }
  .box{
    width: 91%;
    margin: 0 auto;
    .slick-initialized{
      padding: 25px 0;
      .slick-list{
        width: 95%;
        margin: 0 auto;
      }
      .slick-prev{
        background: url(../img/slider_pertner_left_arrow.jpg) 0 0 no-repeat;
        width: 8px;
        height: 14px;
        top: 50%;
        margin-top: -7px;
        left: 1%;
      }
      .slick-next{
        background: url(../img/slider_pertner_right_arrow.jpg) 0 0 no-repeat;
        width: 8px;
        height: 14px;
        top: 50%;
        margin-top: -7px;
        right: 1%;
      }
    }
    .slider-part{
      .slide-item{
        display: inline-block;
        height: 55px;
        img{
          display: block;
          margin: auto;
          filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
          &:hover{
            filter: none;
            -webkit-filter: none;
          }
        }
      }
    }
  }
}

/*Услуги*/

.uslugi{
  background: @color-white;
  text-align: center;
  input[type="radio"]{  display: none;  }
  label.label_uslugi{
    text-align: left;
    display: inline-block;
    width: 13.3%;
    vertical-align: top;
    margin: 30px .5% 50px 0;
    cursor: pointer;

    &:nth-last-child(1){  margin-right: 0;  }

    span.img{
      background: #0d0d0c;
      display: block;
      width: 75%;
      img{
        width: 100%;
        margin-bottom: -3px;
      }
    }
    span.text{
      font-size: .8125em;
      display: block;
      line-height: 1.4;
      color: #0d0d0c;
      background: #fff;
      margin-top: -1px;
      &:hover{
        color: #4776be;
      }
    }

  }

  /*Механизм переключение услуг*/
  input#usluga1:checked ~ .label_uslugi1>span.img {  background: #4776be;  }
  input#usluga1:checked ~ .label_uslugi1>span.text {  color: #4776be;  }
  input#usluga1:checked ~ .usluga2>span.img, .usluga3>span.img, .usluga4>span.img, .usluga5>span.img {  color:#0d0d0c;  }
  input#usluga1:checked ~ .usluga2>span.text, .usluga3>span.text, .usluga4>span.text, .usluga5>span.text { background:#0d0d0c;}
  input#usluga1:checked ~ .box_descript>.descript_uslug_1{  opacity: 1;   max-height: 1000px; transition-delay: .3s  }
  input#usluga1:checked ~ .box_descript>.descript_uslug_2, .box_descript>.descript_uslug_3, .box_descript>.descript_uslug_4, .box_descript>.descript_uslug_5 {  opacity: 0;  max-height: 0;  }


  input#usluga2:checked ~ .label_uslugi2>span.img {  background: #4776be;  }
  input#usluga2:checked ~ .label_uslugi2>span.text {  color: #4776be;  }
  input#usluga2:checked ~ .usluga1>span.img, .usluga3>span.img, .usluga4>span.img, .usluga5>span.img {  color:#0d0d0c;  }
  input#usluga2:checked ~ .usluga1>span.text, .usluga3>span.text, .usluga4>span.text, .usluga5>span.text { background:#0d0d0c;}
  input#usluga2:checked ~ .box_descript>.descript_uslug_2{  opacity: 1;   max-height: 1000px; transition-delay: .3s  }
  input#usluga2:checked ~ .box_descript>.descript_uslug_1, .box_descript>.descript_uslug_2, .box_descript>.descript_uslug_4, .box_descript>.descript_uslug_5 {  opacity: 0;  max-height: 0;  }


  input#usluga3:checked ~ .label_uslugi3>span.img {  background: #4776be;  }
  input#usluga3:checked ~ .label_uslugi3>span.text {  color: #4776be;  }
  input#usluga3:checked ~ .usluga1>span.img, .usluga2>span.img, .usluga4>span.img, .usluga5>span.img {  color:#0d0d0c;  }
  input#usluga3:checked ~ .usluga1>span.text, .usluga2>span.text, .usluga4>span.text, .usluga5>span.text { background:#0d0d0c;}
  input#usluga3:checked ~ .box_descript>.descript_uslug_3{  opacity: 1;   max-height: 1000px; transition-delay: .3s  }
  input#usluga3:checked ~ .box_descript>.descript_uslug_1, .box_descript>.descript_uslug_2, .box_descript>.descript_uslug_4, .box_descript>.descript_uslug_5 {  opacity: 0;  max-height: 0;  }


  input#usluga4:checked ~ .label_uslugi4>span.img {  background: #4776be;  }
  input#usluga4:checked ~ .label_uslugi4>span.text {  color: #4776be;  }
  input#usluga4:checked ~ .usluga1>span.img, .usluga2>span.img, .usluga3>span.img, .usluga5>span.img {  color:#0d0d0c;  }
  input#usluga4:checked ~ .usluga1>span.text, .usluga2>span.text, .usluga3>span.text, .usluga5>span.text { background:#0d0d0c;}
  input#usluga4:checked ~ .box_descript>.descript_uslug_4{  opacity: 1;   max-height: 1000px; transition-delay: .3s  }
  input#usluga4:checked ~ .box_descript>.descript_uslug_1, .box_descript>.descript_uslug_2, .box_descript>.descript_uslug_3, .box_descript>.descript_uslug_5 {  opacity: 0;  max-height: 0;  }


  input#usluga5:checked ~ .label_uslugi5>span.img {  background: #4776be;  }
  input#usluga5:checked ~ .label_uslugi5>span.text {  color: #4776be;  }
  input#usluga5:checked ~ .usluga1>span.img, .usluga2>span.img, .usluga3>span.img, .usluga4>span.img {  color:#0d0d0c;  }
  input#usluga5:checked ~ .usluga1>span.text, .usluga2>span.text, .usluga3>span.text, .usluga4>span.text { background:#0d0d0c;}
  input#usluga5:checked ~ .box_descript>.descript_uslug_5{  opacity: 1;  max-height: 1000px; transition-delay: .3s  }
  input#usluga5:checked ~ .box_descript>.descript_uslug_1, .box_descript>.descript_uslug_2, .box_descript>.descript_uslug_3, .box_descript>.descript_uslug_4 {  opacity: 0;  max-height: 0;  }

  .descript_uslug_1, .descript_uslug_2, .descript_uslug_3, .descript_uslug_4, .descript_uslug_5 {transition-duration: .3s; }

  /*Механизм переключение услуг конец*/

  .box_descript{
    padding-bottom: 50px;
    min-height: 120px;
    .descript_uslug_1{
      text-align: center;

    }
    .left{
      text-align: right;
      display: inline-block;
      width: 21%;
      vertical-align: middle;
      padding-right: 1.8%;
      h3{
        font-size: 1.17em;
        line-height: 1.3;

      }
    }
    .right{
      display: inline-block;
      text-align: left;
      width: 39%;
      vertical-align: middle;
      padding-left: 1.8%;
      p{
        font-size: .79em;
        line-height: 1.3;

      }
    }
  }
  .after_descript{
    padding: 30px 0 300px;
    text-align: left;
    p{
      display: block;
      width: 42%;
      margin: 0 auto;
      font-size: .8125em;
      padding-right: 3%;
      a{
        color:@color-link-blue;
      }
    }

  }
}

/*Все новости*/

.all_news{
  background: @color-white;
  .main_new{
    width: 90%; /*864*/
    border: 1px solid #9c9c9c;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin: 0 auto;
    margin-bottom: 40px;
    .left{
      display: inline-block;
      width: 49%;
      vertical-align: top;
      p.date{
        font-size: .8125em;
        padding: 7.4% 0 0 7.6%;

      }
      h2{
        .font_myriad_pro_bold;
        font-size: 1.28em;
        padding: 5% 0 5% 7%;

      }
      p.descript{
        font-size: .8125em;
        padding: 0 0 0 7%;
        line-height: 1.35;
      }
      a.continue{
        float: right;
        font-size: .8125em;
        margin: 3%;
        color: @color-link-blue;
        border-bottom: 1px dotted rgba(0, 0, 0, 0);
        &:hover{
          border-bottom: 1px dotted @color-link-blue;
          text-decoration: none;
        }

      }
    }
    .right{
      display: inline-block;
      width: 44%;
      vertical-align: top;
      img{
        width: 100%;
        margin: 8% 7%;
      }
    }
  }
  .other_news{
    text-align: center;
    .one_other_new{
      display: inline-block;
      width: 22%;
      padding: 5px 3% 20px;
      border: 1px solid #fff;
      &:hover{
        border-color: #9c9c9c;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
      }
      span.date{
        font-size: .8125em;
        text-align: left;
        padding-bottom: 8px;
        display: block;
      }
      span.h3{
        text-align: left;
        font-size: 1.05em;
        line-height: 1.2;
        color: #636363;
        padding-bottom: 10px;
        display: block;
      }
      img{  width: 100%;  }
      span.descript{
        line-height: 1.2;
        text-align: left;
        padding-bottom: 15px;
        display: block;
      }
      span.continue{
        display: block;
        float: right;
        color: @color-link-blue;
        font-size: .8125em;
      }

    }
  }
  .row{
    padding: 80px 0;
  }
}

/*Одна новость*/

.one_news_box{
  background: @color-white;
}
.one_news{
  padding-top: 25px;
  width: 73%;
  margin: 0 auto;
  p.date{
    width: 73%;
    font-size: .8125em;
  }
  h1{
    .font_myriad_pro_bold;
    float: left;
    font-size: 1.17em;
    width: 54%;
    line-height: 1.3;
    margin-top: 30px;
  }
  img.main_image{
    margin-top: 30px;
    float: right;
  }
  p.descript{
    clear: both;
    line-height: 1.3;
    font-size: .817em;
    padding-top: 15px;
  }
  .gallery{
    padding-top: 20px;
    img{
      display: inline-block;
      width: 31%;
      margin: 0 1.46%;
      &:nth-child(1){  margin-left: 0;  }
      &:nth-last-child(1){  margin-right: 0;  }
    }
  }
  .row{
    padding: 30px 0 90px;

    a{
      font-size: .67em;
      color: #000;
      margin: 0 4%;
      padding: 0;

      &:hover{
        text-decoration: none;
        border-bottom: 1px dotted #000000;
      }
    }
  }
}

/*Стать партнером*/

.add_partner{
  background: @color-white;

  h1{
    font-size: 1.17em;
    width: 49%;
    line-height: 1.3;
    margin-left: 13.3%;
    padding: 12px 0 29px;
  }
  .uslugi{
    .label_uslugi{
      span.text{
        margin-top: 15px;
      }
    }
  }
  .box{
    border: 1px solid #a0a0a0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
    width: 87%;

    h2{
      font-size: 1.27em;
      .font_myriad_pro_regular;
      background: @color-white;
      margin: -13px 0 20px 6%;
      width: 170px;
      display: block;
      text-align: center;
    }
    p.partner_info{
      margin-left: 7%;
      padding: 10px 0;
      font-size: .8125em;
      span{
        display: block;
        color: #ff0000;
      }
    }

    form{
      text-align: center;
      margin: 16px 0 0 0;
    }
    .left{
      width: 38%;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      margin: 0 5% 0 6%;
    }
    .right{
      width: 38%;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      margin: 0 9% 0 2%;
    }
    label{
      font-size: .82em;
      display: block;
      .font_myriad_pro;
      margin: 5px 0 9px;
    }
    input[type="text"]{
      border: 1px solid #e5e5e5;
      width: 94%;
      height: 21px;
      padding: 0 2%;

      margin: 5px 0 15px;

    }
    .notValid{
      position: relative;
      &:before{
        content:"Вы не заполнили это поле";
        position: absolute;
        right: 0;
        top: 0;
        display: block;
      }
    }
    input[type="radio"]{
      display: none;
    }
    p.label{
      font-size: .82em;
      display: block;
      margin: 5px 0 9px;
    }
    label.checkbox_yes{
      display: inline-block;
      position: relative;
      margin-left: 40px;
      cursor: pointer;
      margin-top: 8px;
      margin-bottom: 22px;
      &:before{
        content:"";
        border: 4px solid @color-white;
        width: 10px;
        height: 10px;
        background: #ffffff;
        display: block;
        position: absolute;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        box-shadow: 0 0 3px #7B7E80;
        left: -30px;
        top: -2px;
      }
    }
    label.checkbox_no{
      display: inline-block;
      position: relative;
      margin-left: 70px;
      cursor: pointer;
      &:before{
        content:"";
        border: 4px solid @color-white;
        width: 10px;
        height: 10px;
        background: #ffffff;
        display: block;
        position: absolute;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        box-shadow: 0 0 3px #7B7E80;
        left: -30px;
        top: -2px;
      }
    }

    /*Механизм переключения*/
    input[type="radio"]:checked + label{  &:before{background: #696969;}  }
    /*Механизм переключения конец*/
    .selectbox{
      width: 100%;
      margin-top: 9px;
      .select{
        display: block;
        cursor: pointer;
        overflow: hidden;
        width: 60%;
        .text{
          white-space: nowrap;
          font-weight: 500;
          font-size: .82em;
          color: #000;
          border-bottom: 2px solid #81769f;
          padding: 0 5px 5px;
        }
      }
      .dropdown{
        top: 31px;
        background-color: #ffffff;
        z-index: 10000 !important;
        margin-top: -13px;
        border-bottom: 2px solid #81769f;
        ul{
          min-width: 0;
          width: 191px;
          li{
            padding: 13px 5px;
            list-style-type: none;
            overflow: hidden;
            white-space: pre-wrap;
            font-size: .82em;
            color: #3f3f3f;
            cursor: pointer;
            &:hover{
              background: #ddd;
            }
          }
        }
      }
    }
    .submit{
      border: 1px solid @color-grey2;
      color: @color-grey2;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding: 8px 2.5%;
      background: #ffffff;
      cursor: pointer;
      margin: 20px 0;
      &:hover{
        background: #dddddd;
      }
    }
    a.submit{
      margin: 20px auto;
      display: block;
      width: 150px;
    }
  }
}
.partner_box{
  p{
    .font_myriad_pro_regular;
    padding: 20px 9% 0;
    font-size: .8em;
  }
  .box{
    border: 0;
  }
}

/*Где купить*/

.gde_kupit{
  background: @color-white;
  h1{
    font-size: 1.2em;
    padding-top: 14px;
    margin: 0 0 20px 13.5%;
  }
  p.descript{
    font-size: .8125em;
    width: 49%;
    margin: 40px 0 0 13.5%;
    line-height: 1.15;
    br{
      padding: 5px;
    }
  }
  h2{
    font-size: 1.18em;
    margin: 48px 0 50px 13.5%;
  }
  .row_partner{
    margin: 0 19% 10px 13.5%;
    p{
      display: inline-block;
      font-size: 1.2em;
      vertical-align: top;
    }
    select{
      display: inline-block;

    }
    .selectbox{
      width: 30%;
      display: inline-block;
      margin-top: -2px;
      margin-left: 30px;
      vertical-align: top;
      padding: 5px 0 0 0;
      .select{
        display: block;
        cursor: pointer;
        overflow: hidden;
        width: 60%;
        .text{
          white-space: nowrap;
          font-weight: 500;
          font-size: .82em;
          color: #000;
          border-bottom: 2px solid #81769f;
          padding: 0 5px 5px;
        }
      }
      .dropdown{
        top: 31px;
        background-color: #ffffff;
        z-index: 10000 !important;
        margin-top: -13px;
        border-bottom: 2px solid #81769f;
        ul{
          min-width: 0;
          width: 191px;
          li{
            padding: 13px 5px;
            list-style-type: none;
            overflow: hidden;
            white-space: pre-wrap;
            font-size: .82em;
            color: #3f3f3f;
            cursor: pointer;
            &:hover{
              background: #ddd;
            }
          }
        }
      }
    }
    a.add_partner{
      display: inline-block;
      float: right;
      font-size: .79em;
      color: #000;
      vertical-align: top;
      padding: 7px 0 0 0;
    }

  }

}
.map{
  width: 68%;
  margin: 0 auto;
  height: 330px;
  margin-right: 19%;
}

/*Модалка о о партнере*/

.modal_background{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  .modal_partner{
    background: @color-white;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -255px;
    width: 510px;
    border: 1px solid #d7d7d8;


  }
  a.close{
    position: absolute;
    right: 0;
    top: -35px;
    color: #000;
  }

  table{
    border-collapse: collapse;
    tbody{
      tr{
        td{
          width: 50%;
          img{
            display: block;
            margin: 0 auto;
            padding: 25px 0 0 0;
          }
          p{
            font-size: .94em;
            width: 70%;
            margin: 0 auto;
            line-height: 1.4;
          }
          h3{
            width: 70%;
            margin: 0 auto;
            font-size: 1.39em;
          }
        }
      }
      .row2{
        height: 86px;
      }
      .row3{
        height: 40px;
      }
      .row4{
        height: 51px;
      }
    }
    .line{
      img{
        width: 100%;
      }
    }
  }
  .line{
    padding-top: 16px;
  }
  .town{
    text-align: center;
    a{
      display: inline-block;
      font-size: .93em;
      margin: 36px 2.5%;
      color: #000;
    }
  }
}

/*404 - страница*/
.header_dop_line{
  height: 45px;
  width: 100%;
  background: #fff;
}
.page_no_found{
  position: absolute;
  top: 50%;
  margin-left: -267px;
  margin-top: -146px;
  left: 50%;
  .box{
  }


  img.img_no_found{
    margin: 0 auto 0;
    display: block;
  }
  p.p_no_found{
    display: block;
    margin: 10px 0 0 48%;

    font-size: 1.7em;
  }

}

/*Контакты*/
input[name="tabs"]{  display: none;  }
input#first_tab:checked ~ .contact_box_control>label.label_for_first_tab{  border-bottom: 1px dotted;  }
input#first_tab:checked ~ .tab1{  display: block;  }
input#first_tab:checked ~ .tab2, .tab3{  display: none;  }
input#second_tab:checked ~ .contact_box_control>label.label_for_second_tab{  border-bottom: 1px dotted;  }
input#second_tab:checked ~ .tab2{  display: block;  }
input#second_tab:checked ~ .tab1, .tab3{  display: none;  }
input#third_tab:checked ~ .contact_box_control>label.label_for_third_tab{  border-bottom: 1px dotted;  }
input#third_tab:checked ~ .tab3{  display: block;  }
input#third_tab:checked ~ .tab1, .tab2{  display: none;  }
.contact_box_control{
  text-align: center;
  background: #fff;
  label{
    font-size: .8125em;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 30px 0 30px 35px;
    &:hover{
      border-bottom: 1px dotted;
    }
  }


}
.contact_box{
  background: @color-white;
  min-height: 750px;
}
form.contact_form{
  padding-bottom: 20px;


  h2{
    font-size: 1.181em;
    line-height: 1.3;
    padding-top: 28px;
    margin: 0 0 20px 13.5%;
  }
  p.how_name{
    font-size: .87em;
    margin: 26px 0 12px 13.5%;
  }
  input#userName{
    margin: 0 0 15px 13.5%;
    width: 29%;
  }
  .two_subject{
    border: 1px solid #a0a0a0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 21px auto 30px 12%;
    width: 58.5%;
    p{
      margin: -8px 0 0 12px;
      font-size: .8em;
      background: #fff;
      width: 100px;
      padding: 0 5px;
    }
    label{
      font-size: .8em;
      position: relative;
      margin-left: 37px;
      cursor: pointer;
      display: inline-block;
      padding-top: 5px;
      margin-right: 19px;
      &:before{
        content:"";
        width: 10px;
        height: 10px;
        border: 2px solid #FFFFFF;
        background: #FFFFFF;
        -webkit-box-shadow: 0 0 3px #7B7E80;
        -moz-box-shadow: 0 0 3px #7B7E80;
        box-shadow: 0 0 3px #7B7E80;
        display: block;
        position: absolute;
        top: 2px;
        left: -26px;
      }
    }
    input[type="radio"]:checked + label{  &:before{  background: #808080  }  }
  }

  p.partner_info{
    margin-left: 12%;
    padding: 10px 0;
    font-size: .71em;
    span{
      display: block;
      color: #ff0000;
    }
  }

  .left{
    width: 34%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0 4% 0 12%;
  }
  .right{
    width: 34%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0 9% 0 1%;
  }
  label{
    font-size: .82em;
    display: block;
    .font_myriad_pro;
    margin: 5px 0 9px;
  }
  input[type="text"]{
    border: 1px solid #e5e5e5;
    width: 94%;
    height: 21px;
    padding: 0 2%;

    margin: 5px 0 15px;

  }
  textarea{
    border: 1px solid #e5e5e5;
    width: 94%;
    height: 130px;
    padding: 0 2%;
    margin: 5px 0 15px;
  }
  .notValid{
    position: relative;
    &:before{
      content:"Вы не заполнили это поле";
      position: absolute;
      right: 0;
      top: 0;
      display: block;
    }
  }
  input[type="radio"]{
    display: none;
  }
  p.label{
    font-size: .82em;
    display: block;
    margin: 5px 0 9px;
  }
  label.checkbox_yes{
    display: inline-block;
    position: relative;
    margin-left: 40px;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 22px;
    &:before{
      content:"";
      border: 4px solid @color-white;
      width: 10px;
      height: 10px;
      background: #ffffff;
      display: block;
      position: absolute;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      box-shadow: 0 0 3px #7B7E80;
      left: -30px;
      top: -2px;
    }
  }
  label.checkbox_no{
    display: inline-block;
    position: relative;
    margin-left: 70px;
    cursor: pointer;
    &:before{
      content:"";
      border: 4px solid @color-white;
      width: 10px;
      height: 10px;
      background: #ffffff;
      display: block;
      position: absolute;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      box-shadow: 0 0 3px #7B7E80;
      left: -30px;
      top: -2px;
    }
  }

  /*Механизм переключения*/
  input[type="radio"]:checked + label{  &:before{background: #696969;}  }
  /*Механизм переключения конец*/
  .selectbox{
    width: 100%;
    margin-top: 9px;
    .select{
      display: block;
      cursor: pointer;
      overflow: hidden;
      width: 60%;
      .text{
        white-space: nowrap;
        font-weight: 500;
        font-size: .82em;
        color: #000;
        border-bottom: 2px solid #81769f;
        padding: 0 5px 5px;
      }
    }
    .dropdown{
      top: 31px;
      background-color: #ffffff;
      z-index: 10000 !important;
      margin-top: -13px;
      border-bottom: 2px solid #81769f;
      ul{
        min-width: 0;
        width: 191px;
        li{
          padding: 13px 5px;
          list-style-type: none;
          overflow: hidden;
          white-space: pre-wrap;
          font-size: .82em;
          color: #3f3f3f;
          cursor: pointer;
          &:hover{
            background: #ddd;
          }
        }
      }
    }
  }
  button.submit{
    border: 1px solid @color-grey2;
    color: @color-grey2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 2.5%;
    background: #ffffff;
    cursor: pointer;
    margin: 20px 0;
    display: block;
    margin: 20px auto 0;
    &:hover{
      background: #dddddd;
    }
  }
}
.item_contact{
  padding-top: 30px;
  .left{
    margin-left: 13.5%;
    display: inline-block;
    vertical-align: top;
    margin-right: 5%;
    h2{
      font-size: 1.17em;
      margin-bottom: 10px;

    }
    p.name{
      margin-top: 20px;
      font-size: .9em;
      span{
        display: block;
        margin-top: 6px;
        font-size: .87em;
      }
    }
    p.tel{
      margin-top: 28px;
      font-size: .8em;
    }
    p.addr{
      font-size: .8em;
      margin-top: 24px;
      line-height: 1.1;
    }
  }
  .map{
    display: inline-block;
    width: 42%;
    height: 200px;
    margin: 0;
  }
}

/*Модуль управления темой писма*/
input#two_first_subject:checked ~ .two_subject>label.label_two_first_subject {  &:before{  background: #808080  }  }
input#two_second_subject:checked ~ .two_subject>label.label_two_second_subject {  &:before{  background: #808080  }  }
input#two_third_subject:checked ~ .two_subject>label.label_two_third_subject {  &:before{  background: #808080  }  }
input#two_first_subject:checked ~ .form1 {  display: block;  }
input#two_first_subject:checked ~  .form2, .form3 {  display:none;  }
input#two_second_subject:checked ~ .form2 {  display: block;  }
input#two_second_subject:checked ~ .form1, .form3 {  display:none;  }
input#two_third_subject:checked ~ .form3 {  display: block;  }
input#two_third_subject:checked ~ .form1, .form2 {  display:none;  }
/*Модуль управления темой писма конец*/

.form1, .form2, .form3 {  display:none;  }

.form1, .form3{
  width: 34%;
  vertical-align: top;
  text-align: left;
  margin: 0 4% 0 12%;
  textarea{
    border: 1px solid #e5e5e5;
    width: 94%;
    height: 130px;
    padding: 0 2%;
    margin: 5px 0 15px;
  }
}

.dop_opros{
  display:none;

  textarea{
    border: 1px solid #e5e5e5;
    width: 94%;
    height: 130px;
    padding: 0 2%;
    margin: 5px 0 15px;
  }
}
input#checkbox_yes:checked ~ .dop_opros{  display:block;  }

/*Модалка о написать нам*/

.modal_background{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  .modal_napisat_nam{
    background: @color-white;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -255px;
    width: 595px;
    border: 1px solid #d7d7d8;


  }
  .modal_napisat_nam_otvet{
    height: 80%;
    text-align: center;
    background: @color-white;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -255px;
    width: 595px;
    border: 1px solid #d7d7d8;
    h3{
      margin-top: 40%;
      font-size: 1.75em;
      margin-bottom: 30px;
    }
    p{
      font-size: 1.25em;
    }
  }
  .contact_box{
    min-height: 0;
    h2{
      font-size: 1.181em;
      line-height: 1.3;
      margin: 17px 0 8px 4.5%;
    }
    p.how_name{
      font-size: .8125em;
      margin: 27px 0 12px 4.5%;
    }
    input#userName{
      margin: 0 0 15px 4.5%;
      width: 38%;
      height: 17px;
    }
    .two_subject{
      margin: 8px auto 22px 5%;
      width: 73.5%;

      P{
        margin: -6px 0 0 5px;
        font-size: .8125em;
        background: #fff;
        width: 100px;
        padding: 0 2px;
      }
      label{
        font-size: .6em;
        margin-right: 20px;
        margin-left: 27px;
        &:before{
          content: "";
          width: 7px;
          height: 7px;
          border: 2px solid #FFFFFF;
          background: #FFFFFF;
          top: 3px;
          left: -20px;
        }
      }



    }
    p.partner_info{
      margin-left: 4.5%;
      padding: 5px 0;
      font-size: .6em;
    }
    .left{
      margin: 0 14% 0 4.5%;
      label{
        font-size: .6em;
      }
    }
    .right{
      label{
        font-size: .6em;
      }
      p.label{
        font-size: .6em;
      }
      label.checkbox_yes{
        &:before{
          width: 6px;
          height: 6px;
        }
      }
      label.checkbox_no{
        &:before{
          width: 6px;
          height: 6px;
        }
      }

    }
  }

}

/*Модалка о написать нам*/

.modal_background{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  .modal_napisat_nam{
    background: @color-white;
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -255px;
    width: 595px;
    border: 1px solid #d7d7d8;


  }
  a.close{
    position: absolute;
    right: 0;
    top: -35px;
    color: #000;
  }

}

/*Страница поиска*/
.search_box{
  background: @color-white;
  overflow: hidden;
  h4{
    font-size: 1.17em;
    margin-left: 13.5%;
    margin-top: 52px;
    margin-bottom: 15px;
  }
  p{
    margin-left: 13.5%;
    margin-top: 24px;
    font-size: .89em;
    line-height: 1.2;
  }
  input[type="text"]{
    display: block;
    width: 33%;
    margin-left: 13.5%;
    margin-top: 39px;
    margin-bottom: 5px;
  }
  button{
    display: block;
    margin-left: 13.5%;
    background: #fff;
    border: 0;
    color: #000;
    .font_myriad_pro_regular;
    font-size: .9em;
    border-bottom: 1px dotted #FFFFFF;
    cursor: pointer;

    &:hover{
      border-bottom: 1px dotted;
    }
    &:focus {  outline: none;   }
  }
  .dop_link{
    text-align: center;
  }
  a.gp_to_cat{}
  a.go_to_contact{}
  a{
    display: inline-block;
    color: #000;
    margin: 114px 10% 275px;
    img{
      display: block;
      margin: 0 auto;
    }
    span{
      display: block;
      margin-top: 36px;
      font-size: .87em;
    }
  }

}