/*Гори в аду интернет эксплорер*/
.logo .logo_box {
  display: none;
}
.current .img {
  background: #4776be;
}
.current .text {
  color: #4776be;
}
.psrtner-box > p {
  font-size: 10px;
}
.page_no_found {
  top: 60%;
}
footer {
  padding-bottom: 10px;
  margin-bottom: 0;
}
.blur {
  -webkit-filter: blur(150px);
  -moz-filter: blur(150px);
  -o-filter: blur(150px);
  -ms-filter: blur(150px);
  filter: blur(150px);
}
.modal > .next_tov {
  display: none;
}
.next_tov {
  display: none !important;
}
.prev_tov {
  display: none !important;
}
.catalog_item > img {
  border: 0 !important;
}
.descript_uslug {
  display: none;
}
.descript_uslug.visible {
  display: block;
  /* по умолчанию показываем нужный блок */
}
.form_napis {
  display: none;
}
.form_napis.visible {
  display: block;
  /* по умолчанию показываем нужный блок */
}
button.submit {
  margin-left: 70px !important;
}
.tab2,
.tab3 {
  display: none;
}
header .search input[type="button"] {
  background-position: 0 2px;
}
.contact_box_control label {
  text-decoration: none;
}
.contact_box_control #label_for_first_tab {
  text-decoration: underline;
}
.contact_box .contact_form .two_subject {
  width: 80%;
}
.contact_box .contact_form .two_subject p {
  width: 100px;
  font-size: 12px ;
}
.tabMarkerFormOne {
  display: block;
}
