/* Данный файл содержит в себе только основные стили, которые не меняются в зависимости от расширения экрана

остальные стили лежат в файлах:
 desktop.less  - для дисплеев с большим расширением
 desktop.less - для стационарных компьютеров
 tablet.less - для планшетов
 smartphone.less - для мобильных телефонов
 mobile.less - для мобильных телефонов
 buben.less - в данном файле лежит весь говнокод проекта

ver - 0.1
@autor: Drm Алексеев - www.alekseev.pw  drm-a@yandex.ru
 */
/**********************************************************************/
/***********************Цвета, Шрифты и Миксины************************/
/**********************************************************************/
/*Цвета*/
.background-grad {
  background: #d7e1e7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d4e3e8 0%, #d4e3e8 23%, #d6e5ea 23%, #d7e6eb 29%, #d8e7ee 29%, #d8e7ee 29%, #d5e7eb 30%, #d9e6ec 30%, #d9e8ef 30%, #d7e9ed 31%, #dae9ee 31%, #d8e9f0 32%, #dcebf2 34%, #deeff6 40%, #deeff6 49%, #d8ebf2 54%, #d1e4eb 57%, #d1e4eb 59%, #cee1e8 59%, #cbdee5 62%, #c6d9e0 64%, #c2d4de 68%, #bfd1db 69%, #bed0da 71%, #bcced8 71%, #b9d0d8 71%, #bdced8 72%, #bbcfd8 73%, #baccd6 73%, #baced7 74%, #b5c9d4 79%, #b3c9d6 79%, #b4c8d3 80%, #b2c8d5 81%, #b0c6d1 82%, #b1c7d4 82%, #b1c7d4 83%, #adc3d0 91%, #abc3cf 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d4e3e8), color-stop(23%, #d4e3e8), color-stop(23%, #d6e5ea), color-stop(29%, #d7e6eb), color-stop(29%, #d8e7ee), color-stop(29%, #d8e7ee), color-stop(30%, #d5e7eb), color-stop(30%, #d9e6ec), color-stop(30%, #d9e8ef), color-stop(31%, #d7e9ed), color-stop(31%, #dae9ee), color-stop(32%, #d8e9f0), color-stop(34%, #dcebf2), color-stop(40%, #deeff6), color-stop(49%, #deeff6), color-stop(54%, #d8ebf2), color-stop(57%, #d1e4eb), color-stop(59%, #d1e4eb), color-stop(59%, #cee1e8), color-stop(62%, #cbdee5), color-stop(64%, #c6d9e0), color-stop(68%, #c2d4de), color-stop(69%, #bfd1db), color-stop(71%, #bed0da), color-stop(71%, #bcced8), color-stop(71%, #b9d0d8), color-stop(72%, #bdced8), color-stop(73%, #bbcfd8), color-stop(73%, #baccd6), color-stop(74%, #baced7), color-stop(79%, #b5c9d4), color-stop(79%, #b3c9d6), color-stop(80%, #b4c8d3), color-stop(81%, #b2c8d5), color-stop(82%, #b0c6d1), color-stop(82%, #b1c7d4), color-stop(83%, #b1c7d4), color-stop(91%, #adc3d0), color-stop(100%, #abc3cf));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d4e3e8 0%, #d4e3e8 23%, #d6e5ea 23%, #d7e6eb 29%, #d8e7ee 29%, #d8e7ee 29%, #d5e7eb 30%, #d9e6ec 30%, #d9e8ef 30%, #d7e9ed 31%, #dae9ee 31%, #d8e9f0 32%, #dcebf2 34%, #deeff6 40%, #deeff6 49%, #d8ebf2 54%, #d1e4eb 57%, #d1e4eb 59%, #cee1e8 59%, #cbdee5 62%, #c6d9e0 64%, #c2d4de 68%, #bfd1db 69%, #bed0da 71%, #bcced8 71%, #b9d0d8 71%, #bdced8 72%, #bbcfd8 73%, #baccd6 73%, #baced7 74%, #b5c9d4 79%, #b3c9d6 79%, #b4c8d3 80%, #b2c8d5 81%, #b0c6d1 82%, #b1c7d4 82%, #b1c7d4 83%, #adc3d0 91%, #abc3cf 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d4e3e8 0%, #d4e3e8 23%, #d6e5ea 23%, #d7e6eb 29%, #d8e7ee 29%, #d8e7ee 29%, #d5e7eb 30%, #d9e6ec 30%, #d9e8ef 30%, #d7e9ed 31%, #dae9ee 31%, #d8e9f0 32%, #dcebf2 34%, #deeff6 40%, #deeff6 49%, #d8ebf2 54%, #d1e4eb 57%, #d1e4eb 59%, #cee1e8 59%, #cbdee5 62%, #c6d9e0 64%, #c2d4de 68%, #bfd1db 69%, #bed0da 71%, #bcced8 71%, #b9d0d8 71%, #bdced8 72%, #bbcfd8 73%, #baccd6 73%, #baced7 74%, #b5c9d4 79%, #b3c9d6 79%, #b4c8d3 80%, #b2c8d5 81%, #b0c6d1 82%, #b1c7d4 82%, #b1c7d4 83%, #adc3d0 91%, #abc3cf 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d4e3e8 0%, #d4e3e8 23%, #d6e5ea 23%, #d7e6eb 29%, #d8e7ee 29%, #d8e7ee 29%, #d5e7eb 30%, #d9e6ec 30%, #d9e8ef 30%, #d7e9ed 31%, #dae9ee 31%, #d8e9f0 32%, #dcebf2 34%, #deeff6 40%, #deeff6 49%, #d8ebf2 54%, #d1e4eb 57%, #d1e4eb 59%, #cee1e8 59%, #cbdee5 62%, #c6d9e0 64%, #c2d4de 68%, #bfd1db 69%, #bed0da 71%, #bcced8 71%, #b9d0d8 71%, #bdced8 72%, #bbcfd8 73%, #baccd6 73%, #baced7 74%, #b5c9d4 79%, #b3c9d6 79%, #b4c8d3 80%, #b2c8d5 81%, #b0c6d1 82%, #b1c7d4 82%, #b1c7d4 83%, #adc3d0 91%, #abc3cf 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d4e3e8 0%, #d4e3e8 23%, #d6e5ea 23%, #d7e6eb 29%, #d8e7ee 29%, #d8e7ee 29%, #d5e7eb 30%, #d9e6ec 30%, #d9e8ef 30%, #d7e9ed 31%, #dae9ee 31%, #d8e9f0 32%, #dcebf2 34%, #deeff6 40%, #deeff6 49%, #d8ebf2 54%, #d1e4eb 57%, #d1e4eb 59%, #cee1e8 59%, #cbdee5 62%, #c6d9e0 64%, #c2d4de 68%, #bfd1db 69%, #bed0da 71%, #bcced8 71%, #b9d0d8 71%, #bdced8 72%, #bbcfd8 73%, #baccd6 73%, #baced7 74%, #b5c9d4 79%, #b3c9d6 79%, #b4c8d3 80%, #b2c8d5 81%, #b0c6d1 82%, #b1c7d4 82%, #b1c7d4 83%, #adc3d0 91%, #abc3cf 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e3e8', endColorstr='#abc3cf', GradientType=0);
  /* IE6-9 */
}
/*Шрифты*/
@font-face {
  font-family: 'Conv_dincondensedc';
  src: url('../font/dincondensedc.eot');
  src: local('☺'), url('../font/dincondensedc.woff') format('woff'), url('../font/dincondensedc.ttf') format('truetype'), url('../font/dincondensedc.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Museo_Cyrl_300';
  src: url('../font/Museo_Cyrl_300.eot');
  src: local('☺'), url('../font/Museo_Cyrl_300.woff') format('woff'), url('../font/Museo_Cyrl_300.ttf') format('truetype'), url('../font/Museo_Cyrl_300.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Museo_Cyrl_500';
  src: url('../font/Museo_Cyrl_500.eot');
  src: local('☺'), url('../font/Museo_Cyrl_500.woff') format('woff'), url('../font/Museo_Cyrl_500.ttf') format('truetype'), url('../font/Museo_Cyrl_500.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Myriad_Pro_Light';
  src: url('../font/Myriad_Pro_Light.eot');
  src: local('☺'), url('../font/Myriad_Pro_Light.woff') format('woff'), url('../font/Myriad_Pro_Light.ttf') format('truetype'), url('../font/Myriad_Pro_Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Myriad_Pro_bold';
  src: url('../font/Myriad_Pro_bold.eot');
  src: local('☺'), url('../font/Myriad_Pro_bold.woff') format('woff'), url('../font/Myriad_Pro_bold.ttf') format('truetype'), url('../font/Myriad_Pro_bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Myriad_Pro_Regular';
  src: url('../font/Myriad_Pro_Regular.eot');
  src: local('☺'), url('../font/Myriad_Pro_Regular.woff') format('woff'), url('../font/Myriad_Pro_Regular.ttf') format('truetype'), url('../font/Myriad_Pro_Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font_dincondensedc {
  font-family: 'Conv_dincondensedc';
}
.font_Museo_300 {
  font-family: 'Conv_Museo_Cyrl_300';
  font-weight: 300;
}
.font_Museo_500 {
  font-family: 'Conv_Museo_Cyrl_500';
  font-weight: 500;
}
.font_myriad_pro {
  font-family: 'Conv_Myriad_Pro_Light';
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.font_myriad_pro_bold {
  font-family: 'Conv_Myriad_Pro_bold';
}
.font_myriad_pro_regular {
  font-family: 'Conv_Myriad_Pro_Regular';
}
/*Миксины*/
body,
ul {
  margin: 0;
  padding: 0;
  min-width: 360px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label {
  font-family: 'Conv_Myriad_Pro_Light';
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.content_underline {
  background: url(../img/box-shadow.jpg) 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 14px;
  width: 100%;
  background-color: #fff;
}
.red_label {
  color: red;
}
input:focus {
  outline: none;
}
a {
  text-decoration: none;
}
a:hover {
  border-bottom: 1px dotted;
  text-decoration: none;
}
body {
  width: 100%;
  background: #d7e1e7;
  min-width: 360px;
  overflow-x: hidden;
}
header {
  display: none;
}
.logo {
  width: 100%;
  background: #ffffff;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
}
.logo .logo-box {
  display: none;
}
.logo p.descript_logo {
  font-family: 'Conv_Museo_Cyrl_300';
  font-weight: 300;
  color: #353535;
  text-transform: uppercase;
  font-size: .875em;
  display: block;
  background: url(../img/kalitva_logo.jpg) 0 0 no-repeat;
  padding: 30px 20px 30px 100px;
}
.main_slider {
  display: none;
  overflow: hidden;
}
.navigation {
  width: 100%;
  background: #ffffff;
}
.navigation label.nav_check {
  width: 100%;
  overflow: hidden;
  display: block;
  margin-bottom: 20px;
}
.navigation label.nav_check .button {
  display: block;
  width: 32px;
  height: 24px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 0 20px 0 20px;
  cursor: pointer;
  padding: 4px 4px 2px;
  float: right;
}
.navigation label.nav_check .button:hover {
  background: #ddd;
}
.navigation label.nav_check .button span.line {
  height: 2px;
  background: grey;
  display: block;
  width: 60%;
  margin: 4px auto;
}
.navigation input#nav:checked + .nav-box {
  max-height: 1000px;
  opacity: 1;
}
.navigation input#nav {
  display: none;
}
.navigation .nav-box {
  max-height: 0;
  overflow: hidden;
  transition-duration: .5s;
  opacity: 0;
}
.navigation .nav-box ul li {
  list-style-type: none;
  border-bottom: 1px solid #828282;
  padding: 5px 0;
}
.navigation .nav-box ul li:nth-child(1) {
  border-top: 1px solid #828282;
}
.navigation .nav-box ul li a {
  font-family: 'Conv_dincondensedc';
  color: #4776be;
  text-transform: uppercase;
  font-size: .8125em;
  padding-left: 5%;
}
.info-box {
  width: 100%;
  background: #ffffff;
}
.info-box .left h2 {
  font-size: 1.5em;
  font-family: 'Conv_Myriad_Pro_Light';
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #000000;
  padding: 10px 20px 5px;
}
.info-box .left p {
  padding: 0 20px 5px ;
  font-family: 'Conv_Myriad_Pro_Light';
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: .875em;
}
.info-box .left a {
  font-size: .875em;
  font-family: 'Conv_Museo_Cyrl_300';
  font-weight: 300;
  color: #000000;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  border-bottom: 1px dotted #000000;
  margin: 15px 0;
}
.info-box .left span.more {
  display: inline-block;
  background: url(../img/li-i.jpg) 0 0 no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  vertical-align: middle;
  margin-left: 10%;
}
.info-box .left span.catalog {
  display: inline-block;
  background: url(../img/li-book.jpg) 0 0 no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  vertical-align: middle;
  margin-left: 10%;
}
.info-box .left span.contact {
  display: inline-block;
  background: url(../img/li-tel.jpg) 0 0 no-repeat;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  vertical-align: middle;
  clear: both;
  margin-left: 10%;
}
.info-box .left .line {
  width: 100%;
  height: 5px;
}
.info-box .right {
  display: none;
}
footer {
  background: #ffffff;
  position: relative !important;
  padding-bottom: 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
footer .lang {
  display: none;
}
footer .nav {
  width: 100%;
}
footer .nav table {
  width: 100%;
}
footer .nav table tbody tr td {
  width: 33%;
}
footer .nav table tbody tr td a {
  color: #000000;
  font-size: .875em;
  padding: 5px 0;
}
footer .contact {
  margin: 20px 0;
}
footer .contact a {
  font-size: .875em;
  text-decoration: none;
}
footer .contact a.tel {
  color: #000000;
  padding-left: 6%;
}
footer .contact a.tel:hover {
  border: 0;
}
footer .contact a.mail {
  color: #537ec0;
  float: right;
  line-height: 1.4;
  padding-right: 6%;
}
footer .contact a.mail:hover {
  border: 0;
}
.parallax-item {
  display: none !important;
}
/**Правки для внутренних страниц**/
.other_page_navigation {
  padding-top: 10px;
}
.other_page_navigation .nav-box ul .checked_nav a {
  color: #939393;
}
.breadcrumbs {
  padding: 15px 13% 30px;
  background: url(../img/box-shadow.jpg) 0 83% no-repeat;
  background-color: #ffffff;
  background-size: 100%;
  text-align: center;
}
.breadcrumbs a {
  color: #4776be;
  font-size: .65em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1%;
}
.breadcrumbs img.breadcrumbs-arrow {
  display: inline-block;
  vertical-align: middle;
}
.breadcrumbs span.this_page {
  font-size: .65em;
  color: #636363;
  display: inline-block;
  vertical-align: middle;
}
/*Для страницы акции*/
.content {
  overflow: hidden;
  background: #ffffff;
}
.content aside {
  display: none;
  vertical-align: top;
  background: #ffffff;
  width: 19.166666%;
  padding: 55px 2.395833% 0 5.208333%;
}
.content aside a.full_cat {
  color: #001149;
  font-size: .81em;
  border-bottom: 1px solid #636363;
  text-decoration: none;
}
.content aside h2 {
  padding: 5px 0 15px;
  font-size: .915em;
  color: #4776be;
}
.content aside ul.cat_navigation {
  margin: 8px 0 0 4%;
  min-width: 0;
}
.content aside ul.cat_navigation li {
  margin-bottom: 2px;
  list-style-type: none;
}
.content aside ul.cat_navigation li a {
  color: #636363;
  font-size: .6em;
  text-decoration: none;
  border-bottom: 1px solid #636363;
  padding-bottom: 3px;
}
.content aside ul.cat_navigation li a:hover {
  border-bottom: 1px solid #636363;
}
.content .box_content {
  padding-right: 5.416666%;
  padding-top: 59px;
  margin-bottom: 30px;
}
.content .box_content img {
  display: inline-block;
  width: 30.340557%;
  margin-right: 2.895975%;
  vertical-align: top;
}
.content .box_content .action_text {
  display: inline-block;
  width: 65.099071%;
  vertical-align: top;
}
.content .box_content .action_text h3 {
  font-size: 1.17em;
  line-height: 1.4;
  margin-bottom: 5px;
}
.content .box_content .action_text h4 {
  font-size: .9em;
  margin: 15px 0;
}
.content .box_content .action_text p {
  font-size: 0.673em;
  line-height: 1.3;
  padding: 5px 0;
}
.content .box_content .action_text a.continue {
  float: right;
  font-size: .7em;
  margin: 16px 20px;
  color: #537ec0;
}
.row {
  text-align: center;
  padding-bottom: 45px;
  background: url(../img/box-shadow.jpg) 0 87% no-repeat;
  background-color: #ffffff;
  background-size: 100%;
}
.row a.dop_button {
  border: 1px solid #636363;
  color: #636363;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 6.5%;
}
.row a.dop_button:hover {
  background: #dddddd;
}
.catalog-option {
  position: relative;
}
.catalog-option .catalog_option_line {
  border-bottom: 2px solid #c6c6c6;
  margin-bottom: -15px;
  width: 89%;
}
.catalog-option .opt {
  display: inline-block;
  width: 22.322142%;
  /*152px*/
  /*Селекты панели управления*/
}
.catalog-option .opt p {
  display: block;
  font-family: 'Conv_Museo_Cyrl_500';
  font-weight: 500;
  font-size: .54em;
  color: #7b7b7b;
  margin-right: 2%;
  padding: 0 5px;
  background: url(../img/arrow-bottom.png) 89% 50% no-repeat;
}
.catalog-option .opt .selectbox {
  width: 100%;
  margin-right: 1%;
  margin-top: -25px;
}
.catalog-option .opt .selectbox .select {
  padding-top: 45px;
  display: block;
  cursor: pointer;
  overflow: hidden;
  width: 90%;
}
.catalog-option .opt .selectbox .select .text {
  white-space: nowrap;
  font-family: 'Conv_Museo_Cyrl_500';
  font-weight: 500;
  font-size: .54em;
  color: #3f3f3f;
  border-bottom: 2px solid #81769f;
  padding: 0 5px 5px;
}
.catalog-option .opt .selectbox .dropdown {
  top: 45px;
  background: url(../img/klyaksa.png) 100% 100% no-repeat;
  background-color: #ffffff;
  z-index: 10000 !important;
  margin-top: -13px;
  border-bottom: 2px solid #81769f;
}
.catalog-option .opt .selectbox .dropdown ul {
  min-width: 0;
  width: 150px;
}
.catalog-option .opt .selectbox .dropdown ul li {
  padding: 13px 5px;
  list-style-type: none;
  overflow: hidden;
  background: url(../img/arrow-right.png) 95% 50% no-repeat;
  white-space: pre-wrap;
  font-family: 'Conv_Museo_Cyrl_500';
  font-weight: 500;
  font-size: .54em;
  color: #3f3f3f;
  cursor: pointer;
}
.catalog-option .opt .selectbox .dropdown ul li:hover {
  background: #ddd;
}
.content_catalog aside {
  float: left;
  vertical-align: top;
  background: #ffffff;
  width: 19.166666%;
  padding: 55px 0 0 5.208333%;
}
.content_catalog .box_content_catalog {
  padding-top: 59px;
  margin-bottom: 30px;
  padding-right: 0;
}
.content_catalog .box_content_catalog .catalog_option {
  display: none;
}
.content_catalog .box_content_catalog .catalog_item {
  text-decoration: none;
  display: inline-block;
  width: 44%;
  text-align: center;
  padding: 4.4% 0;
  position: relative;
}
.content_catalog .box_content_catalog .catalog_item:hover {
  border: 0;
}
.content_catalog .box_content_catalog .catalog_item span.label {
  position: absolute;
  display: block;
  width: 52px;
  height: 52px;
  top: 5px;
  right: 20px;
}
.content_catalog .box_content_catalog .catalog_item span.action {
  background: url(../img/label_action.png) 50% 50% no-repeat;
}
.content_catalog .box_content_catalog .catalog_item span.new {
  background: url(../img/label_new.png) 50% 50% no-repeat;
}
.content_catalog .box_content_catalog .catalog_item img {
  display: block;
  width: 100%;
}
.content_catalog .box_content_catalog .catalog_item span.name_catalog_item {
  text-decoration: none;
  color: #636363;
  font-size: .7em;
  padding-top: 24px;
  display: block;
}
.ver2 {
  margin-top: -20px;
}
.ver2 .catalog_option_line {
  display: none;
}
.ver2 .opt p {
  display: none;
}
/*Модальное окно*/
.modal {
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -180px;
  z-index: 10;
}
.modal a.close {
  position: absolute;
  top: -55px;
  right: 15px;
  color: #000;
  font-size: 1em;
}
.modal .prev_tov {
  display: inline-block;
  width: 270px;
  vertical-align: top;
  margin-top: 10%;
}
.modal .prev_tov img {
  width: 100%;
}
.modal .prev_tov p {
  padding: 80px 0 0 0;
  font-size: 1em;
}
.modal .next_tov {
  display: inline-block;
  width: 270px;
  vertical-align: top;
  margin-top: 10%;
}
.modal .next_tov img {
  width: 100%;
}
.modal .next_tov p {
  padding: 80px 0 0 0;
  font-size: 1em;
}
.modal .main_modal_slider {
  width: 360px;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}
.modal .main_modal_slider .block {
  width: 360px;
  height: 595px;
  background: #ffffff ;
  position: absolute;
  top: 0;
  border: 1px solid #d7d7d8;
}
.modal .main_modal_slider .main_modal_slide_item {
  padding: 0;
  width: 360px !important;
  margin: 0;
  height: 560px;
  opacity: 0;
  transition-duration: .7s;
}
.modal .main_modal_slider .main_modal_slide_item .head {
  margin-bottom: 35px;
  position: relative;
}
.modal .main_modal_slider .main_modal_slide_item .head img {
  width: 100%;
}
.modal .main_modal_slider .main_modal_slide_item .head a.close {
  position: absolute;
  color: #000;
  top: -55px;
  right: 0;
  border-bottom: 1px dotted #000;
  font-size: 0.8em;
  text-decoration: none;
}
.modal .main_modal_slider .main_modal_slide_item h2 {
  font-size: 1.51em;
  text-align: center;
}
.modal .main_modal_slider .main_modal_slide_item p {
  font-size: .7em;
  text-align: center;
  padding-top: 10px;
}
.modal .main_modal_slider .main_modal_slide_item .option_box {
  margin-top: 25px;
  text-align: center;
  min-height: 100px;
  position: relative;
}
.modal .main_modal_slider .main_modal_slide_item .option_box input[type="radio"] {
  display: none;
}
.modal .main_modal_slider .main_modal_slide_item .option_box input[type="radio"]:checked + label > span {
  opacity: 1;
  z-index: 5;
}
.modal .main_modal_slider .main_modal_slide_item .option_box input[type="radio"]:checked + label > span > span {
  opacity: 1;
  z-index: 5;
}
.modal .main_modal_slider .main_modal_slide_item .option_box label {
  display: inline-block;
  width: 54px;
  height: 54px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 5px 15px;
  cursor: pointer;
  vertical-align: top;
}
.modal .main_modal_slider .main_modal_slide_item .option_box label:hover {
  background-color: #DDDDDD;
}
.modal .main_modal_slider .main_modal_slide_item .option_box label:hover span {
  z-index: 10;
  opacity: 1;
}
.modal .main_modal_slider .main_modal_slide_item .option_box label span {
  opacity: 0;
  position: absolute;
  bottom: 5px;
  left: 0;
  background: #fff;
  display: block;
  transition: .3s;
}
.modal .main_modal_slider .main_modal_slide_item .option_box label span.label_block {
  width: 100%;
  height: 10px;
  background: #FFFFFF;
}
.modal .main_modal_slider .main_modal_slide_item .option_box label span.label_block span.text {
  position: relative;
  margin: 0 auto;
  font-size: .7em;
}
.modal .main_modal_slider .main_modal_slide_item .option_box label.option1 {
  background: url(../img/option1.png) 50% 50% no-repeat;
}
.modal .main_modal_slider .main_modal_slide_item .option_box label.option1:hover {
  background-color: #DDDDDD;
}
.modal .main_modal_slider .main_modal_slide_item .option_box label.option2 {
  background: url(../img/option2.png) 50% 50% no-repeat;
}
.modal .main_modal_slider .main_modal_slide_item .option_box label.option2:hover {
  background-color: #DDDDDD;
}
.modal .main_modal_slider .main_modal_slide_item .option_box label.option3 {
  background: url(../img/option3.png) 50% 50% no-repeat;
}
.modal .main_modal_slider .main_modal_slide_item .option_box label.option3:hover {
  background-color: #DDDDDD;
}
.modal .main_modal_slider .main_modal_slide_item .option_box label.option4 {
  background: url(../img/option4.png) 50% 50% no-repeat;
}
.modal .main_modal_slider .main_modal_slide_item .option_box label.option4:hover {
  background-color: #DDDDDD;
}
.modal .main_modal_slider .main_modal_slide_item .option_box label.option5 {
  background: url(../img/option5.png) 50% 50% no-repeat;
}
.modal .main_modal_slider .main_modal_slide_item .option_box label.option5:hover {
  background-color: #DDDDDD;
}
.modal .main_modal_slider .main_modal_slide_item .option_box p.text_option {
  padding-top: 0;
  max-height: 0;
  opacity: 0;
  transition: .7s;
}
.modal .main_modal_slider .main_modal_slide_item .osobennost_box {
  margin-top: 10px;
  text-align: center;
  min-height: 120px;
}
.modal .main_modal_slider .main_modal_slide_item .osobennost_box ul.tabs_osobennost li {
  display: inline-block;
  width: 115px;
  cursor: pointer;
  height: 55px;
  font-size: .8em;
  vertical-align: middle;
  line-height: 3.4;
  margin-bottom: 20px;
  font-family: 'Conv_Myriad_Pro_Light';
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.modal .main_modal_slider .main_modal_slide_item .osobennost_box ul.tabs_osobennost li.current {
  background: #9a9a9a;
}
.modal .main_modal_slider .main_modal_slide_item .osobennost_box ul.tabs_osobennost li.current:after {
  content: "";
  display: block;
  margin-top: 1px;
  border: 58px solid rgba(0, 0, 0, 0);
  border-top: 10px solid #9a9a9a;
}
.modal .main_modal_slider .main_modal_slide_item .osobennost_box .box {
  font-size: .7em;
  text-align: center;
  font-family: 'Conv_Myriad_Pro_Light';
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.modal .main_modal_slider .main_modal_slide_item table {
  border-collapse: collapse;
  text-align: center;
}
.modal .main_modal_slider .main_modal_slide_item table tbody tr {
  border-bottom: 1px solid #5e52a8 ;
}
.modal .main_modal_slider .main_modal_slide_item table tbody tr th {
  font-family: 'Conv_Myriad_Pro_Light';
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #767576;
  font-size: .58em;
  padding: 4px 2px;
}
.modal .main_modal_slider .main_modal_slide_item table tbody tr td {
  padding: 4px 0;
  font-family: 'Conv_Myriad_Pro_Light';
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #767576;
  font-size: .58em;
}
.modal .main_modal_slider .slick-active {
  opacity: 1;
}
.modal ul.slick-dots {
  display: none !important;
}
.modal button.slick-prev {
  background: url(../img/slider_arrow_left-grey.png) 0 0 no-repeat;
  top: 30%;
}
.modal button.slick-next {
  background: url(../img/slider_arrow_right-grey.png) 0 0 no-repeat;
  top: 30%;
}
/*О нас*/
.about {
  overflow: hidden;
  background: #ffffff;
}
.about table {
  width: 100%;
}
.about table tr th {
  display: block;
  width: 90%;
  padding: 0 2% 0 7%;
  vertical-align: top;
  text-align: center;
}
.about table tr td {
  display: block;
  width: 90%;
  padding: 0 2% 10px 7%;
  vertical-align: top;
  text-align: center;
}
.about .box {
  margin-bottom: 50px;
  text-align: left;
}
.about h2 {
  font-size: 1.2em;
  line-height: 1.4;
  margin-bottom: 15px;
}
.about p {
  font-size: .67em;
  line-height: 1.35;
}
.about ul {
  margin: 16px 0 0 17px;
  min-width: 0;
}
.about ul li {
  padding-bottom: 13px;
  font-family: 'Conv_Myriad_Pro_Light';
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  list-style-type: none;
  font-size: .67em;
}
.about a.add_partner {
  border: 1px solid #636363;
  color: #636363;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 6.5%;
}
.about a.add_partner:hover {
  background: #ddd;
}
.partner_box {
  background: #ffffff;
}
.partner_box p {
  font-size: .7em;
  color: #000;
  padding: 0 6%;
}
.partner_box .box {
  width: 91%;
  margin: 0 auto;
}
.partner_box .box .slick-initialized {
  padding: 25px 0;
}
.partner_box .box .slick-initialized .slick-list {
  width: 95%;
  margin: 0 auto;
}
.partner_box .box .slick-initialized .slick-prev {
  background: url(../img/slider_pertner_left_arrow.jpg) 0 0 no-repeat;
  width: 8px;
  height: 14px;
  top: 50%;
  margin-top: -7px;
  left: 1%;
}
.partner_box .box .slick-initialized .slick-next {
  background: url(../img/slider_pertner_right_arrow.jpg) 0 0 no-repeat;
  width: 8px;
  height: 14px;
  top: 50%;
  margin-top: -7px;
  right: 1%;
}
.partner_box .box .slider-part .slide-item {
  display: inline-block;
  height: 55px;
}
.partner_box .box .slider-part .slide-item img {
  display: block;
  margin: auto;
}
/*Услуги*/
.uslugi {
  background: #ffffff;
  text-align: center;
  /*Механизм переключение услуг*/
  /*Механизм переключение услуг конец*/
}
.uslugi input[type="radio"] {
  display: none;
}
.uslugi label.label_uslugi {
  text-align: left;
  display: inline-block;
  width: 18%;
  vertical-align: top;
  margin: 30px .5% 50px 0;
  cursor: pointer;
  word-break: break-word;
}
.uslugi label.label_uslugi:nth-last-child(1) {
  margin-right: 0;
}
.uslugi label.label_uslugi span.img {
  background: #0d0d0c;
  display: block;
  width: 75%;
}
.uslugi label.label_uslugi span.img img {
  width: 100%;
  margin-bottom: -4px;
}
.uslugi label.label_uslugi span.text {
  font-size: .67em;
  display: block;
  line-height: 1.4;
  color: #0d0d0c;
}
.uslugi label.label_uslugi span.text:hover {
  text-decoration: underline;
}
.uslugi input#usluga1:checked ~ .label_uslugi1 > span.img {
  background: #4776be;
}
.uslugi input#usluga1:checked ~ .label_uslugi1 > span.text {
  color: #4776be;
}
.uslugi input#usluga1:checked ~ .usluga2 > span.img,
.uslugi .usluga3 > span.img,
.uslugi .usluga4 > span.img,
.uslugi .usluga5 > span.img {
  color: #0d0d0c;
}
.uslugi input#usluga1:checked ~ .usluga2 > span.text,
.uslugi .usluga3 > span.text,
.uslugi .usluga4 > span.text,
.uslugi .usluga5 > span.text {
  background: #0d0d0c;
}
.uslugi input#usluga1:checked ~ .box_descript > .descript_uslug_1 {
  opacity: 1;
  max-height: 1000px;
  transition-delay: 0.3s;
}
.uslugi input#usluga1:checked ~ .box_descript > .descript_uslug_2,
.uslugi .box_descript > .descript_uslug_3,
.uslugi .box_descript > .descript_uslug_4,
.uslugi .box_descript > .descript_uslug_5 {
  opacity: 0;
  max-height: 0;
}
.uslugi input#usluga2:checked ~ .label_uslugi2 > span.img {
  background: #4776be;
}
.uslugi input#usluga2:checked ~ .label_uslugi2 > span.text {
  color: #4776be;
}
.uslugi input#usluga2:checked ~ .usluga1 > span.img,
.uslugi .usluga3 > span.img,
.uslugi .usluga4 > span.img,
.uslugi .usluga5 > span.img {
  color: #0d0d0c;
}
.uslugi input#usluga2:checked ~ .usluga1 > span.text,
.uslugi .usluga3 > span.text,
.uslugi .usluga4 > span.text,
.uslugi .usluga5 > span.text {
  background: #0d0d0c;
}
.uslugi input#usluga2:checked ~ .box_descript > .descript_uslug_2 {
  opacity: 1;
  max-height: 1000px;
  transition-delay: 0.3s;
}
.uslugi input#usluga2:checked ~ .box_descript > .descript_uslug_1,
.uslugi .box_descript > .descript_uslug_2,
.uslugi .box_descript > .descript_uslug_4,
.uslugi .box_descript > .descript_uslug_5 {
  opacity: 0;
  max-height: 0;
}
.uslugi input#usluga3:checked ~ .label_uslugi3 > span.img {
  background: #4776be;
}
.uslugi input#usluga3:checked ~ .label_uslugi3 > span.text {
  color: #4776be;
}
.uslugi input#usluga3:checked ~ .usluga1 > span.img,
.uslugi .usluga2 > span.img,
.uslugi .usluga4 > span.img,
.uslugi .usluga5 > span.img {
  color: #0d0d0c;
}
.uslugi input#usluga3:checked ~ .usluga1 > span.text,
.uslugi .usluga2 > span.text,
.uslugi .usluga4 > span.text,
.uslugi .usluga5 > span.text {
  background: #0d0d0c;
}
.uslugi input#usluga3:checked ~ .box_descript > .descript_uslug_3 {
  opacity: 1;
  max-height: 1000px;
  transition-delay: 0.3s;
}
.uslugi input#usluga3:checked ~ .box_descript > .descript_uslug_1,
.uslugi .box_descript > .descript_uslug_2,
.uslugi .box_descript > .descript_uslug_4,
.uslugi .box_descript > .descript_uslug_5 {
  opacity: 0;
  max-height: 0;
}
.uslugi input#usluga4:checked ~ .label_uslugi4 > span.img {
  background: #4776be;
}
.uslugi input#usluga4:checked ~ .label_uslugi4 > span.text {
  color: #4776be;
}
.uslugi input#usluga4:checked ~ .usluga1 > span.img,
.uslugi .usluga2 > span.img,
.uslugi .usluga3 > span.img,
.uslugi .usluga5 > span.img {
  color: #0d0d0c;
}
.uslugi input#usluga4:checked ~ .usluga1 > span.text,
.uslugi .usluga2 > span.text,
.uslugi .usluga3 > span.text,
.uslugi .usluga5 > span.text {
  background: #0d0d0c;
}
.uslugi input#usluga4:checked ~ .box_descript > .descript_uslug_4 {
  opacity: 1;
  max-height: 1000px;
  transition-delay: 0.3s;
}
.uslugi input#usluga4:checked ~ .box_descript > .descript_uslug_1,
.uslugi .box_descript > .descript_uslug_2,
.uslugi .box_descript > .descript_uslug_3,
.uslugi .box_descript > .descript_uslug_5 {
  opacity: 0;
  max-height: 0;
}
.uslugi input#usluga5:checked ~ .label_uslugi5 > span.img {
  background: #4776be;
}
.uslugi input#usluga5:checked ~ .label_uslugi5 > span.text {
  color: #4776be;
}
.uslugi input#usluga5:checked ~ .usluga1 > span.img,
.uslugi .usluga2 > span.img,
.uslugi .usluga3 > span.img,
.uslugi .usluga4 > span.img {
  color: #0d0d0c;
}
.uslugi input#usluga5:checked ~ .usluga1 > span.text,
.uslugi .usluga2 > span.text,
.uslugi .usluga3 > span.text,
.uslugi .usluga4 > span.text {
  background: #0d0d0c;
}
.uslugi input#usluga5:checked ~ .box_descript > .descript_uslug_5 {
  opacity: 1;
  max-height: 1000px;
  transition-delay: 0.3s;
}
.uslugi input#usluga5:checked ~ .box_descript > .descript_uslug_1,
.uslugi .box_descript > .descript_uslug_2,
.uslugi .box_descript > .descript_uslug_3,
.uslugi .box_descript > .descript_uslug_4 {
  opacity: 0;
  max-height: 0;
}
.uslugi .descript_uslug_1,
.uslugi .descript_uslug_2,
.uslugi .descript_uslug_3,
.uslugi .descript_uslug_4,
.uslugi .descript_uslug_5 {
  transition-duration: .3s;
}
.uslugi .box_descript {
  padding-bottom: 50px;
  min-height: 120px;
}
.uslugi .box_descript .descript_uslug_1 {
  text-align: center;
}
.uslugi .box_descript .left {
  display: inline-block;
  width: 90%;
  vertical-align: middle;
  padding-right: 1.8%;
}
.uslugi .box_descript .left h3 {
  font-size: 1.17em;
  line-height: 1.3;
}
.uslugi .box_descript .right {
  display: inline-block;
  text-align: left;
  width: 90%;
  vertical-align: middle;
  padding-left: 1.8%;
}
.uslugi .box_descript .right p {
  font-size: .79em;
  line-height: 1.3;
}
.uslugi .after_descript {
  padding: 30px 0 50px;
  text-align: left;
}
.uslugi .after_descript p {
  display: block;
  width: 42%;
  margin: 0 auto;
  font-size: .67em;
  padding-right: 3%;
}
.uslugi .after_descript p a {
  color: #537ec0;
}
/*Все новости*/
.all_news {
  background: #ffffff;
}
.all_news .main_new {
  width: 90%;
  /*864*/
  border: 2px solid #9c9c9c;
  margin: 0 auto;
  margin-bottom: 40px;
}
.all_news .main_new .left {
  display: inline-block;
  width: 95%;
  vertical-align: top;
}
.all_news .main_new .left p.date {
  font-size: .6em;
  padding: 7.4% 0 0 7.6%;
}
.all_news .main_new .left h2 {
  font-family: 'Conv_Myriad_Pro_bold';
  font-size: 1.28em;
  padding: 5% 0 5% 7%;
}
.all_news .main_new .left p.descript {
  font-size: .706em;
  padding: 0 0 0 7%;
  line-height: 1.35;
}
.all_news .main_new .left a.continue {
  float: right;
  font-size: .67em;
  padding: 3%;
  color: #537ec0;
}
.all_news .main_new .right {
  display: none;
  vertical-align: top;
}
.all_news .main_new .right img {
  width: 100%;
  margin: 8% 7%;
}
.all_news .other_news {
  text-align: center;
}
.all_news .other_news .one_other_new {
  display: inline-block;
  width: 22%;
  padding: 5px 3% 20px;
  border: 1px solid #fff;
}
.all_news .other_news .one_other_new:hover {
  border-color: #9c9c9c;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.all_news .other_news .one_other_new span.date {
  font-size: .8125em;
  text-align: left;
  padding-bottom: 8px;
}
.all_news .other_news .one_other_new span.h3 {
  text-align: left;
  font-size: 1.05em;
  line-height: 1.2;
  color: #636363;
  padding-bottom: 10px;
}
.all_news .other_news .one_other_new img {
  width: 100%;
}
.all_news .other_news .one_other_new span.descript {
  line-height: 1.2;
  text-align: left;
  padding-bottom: 15px;
  display: block;
}
.all_news .other_news .one_other_new span.continue {
  display: block;
  float: right;
  color: #537ec0;
}
.all_news .row {
  padding: 80px 0;
}
/*Одна новость*/
.one_news_box {
  background: #ffffff;
}
.one_news {
  padding-top: 25px;
  width: 93%;
  margin: 0 auto;
}
.one_news p.date {
  font-size: .6em;
}
.one_news h1 {
  font-size: 1.17em;
  line-height: 1.3;
  margin-top: 30px;
}
.one_news img.main_image {
  margin: 0 auto;
  margin-top: 30px;
}
.one_news p.descript {
  clear: both;
  line-height: 1.3;
  font-size: .817em;
  padding-top: 25px;
}
.one_news .gallery {
  padding-top: 20px;
}
.one_news .gallery img {
  display: inline-block;
  width: 30%;
  margin: 0 1.46%;
}
.one_news .gallery img:nth-child(1) {
  margin-left: 0;
}
.one_news .gallery img:nth-last-child(1) {
  margin-right: 0;
}
.one_news .row {
  padding: 30px 0 90px;
}
.one_news .row a {
  font-size: .67em;
  color: #000;
  margin: 0 4%;
  padding: 0;
  text-decoration: none;
}
.one_news .row a:hover {
  text-decoration: none;
  border-bottom: 1px dotted #000000;
}
/*Стать партнером*/
.add_partner {
  background: #ffffff;
}
.add_partner h1 {
  font-size: 1.17em;
  width: 80%;
  line-height: 1.3;
  margin-left: 13.3%;
  padding: 12px 0 29px;
}
.add_partner .uslugi .label_uslugi span.text {
  margin-top: 15px;
}
.add_partner .box {
  border: 1px solid #a0a0a0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  width: 87%;
  /*Механизм переключения*/
  /*Механизм переключения конец*/
}
.add_partner .box h2 {
  font-size: 1.27em;
  font-family: 'Conv_Myriad_Pro_Regular';
  background: #ffffff;
  margin: -13px 0 20px 6%;
  width: 170px;
  display: block;
  text-align: center;
}
.add_partner .box p.partner_info {
  margin-left: 7%;
  padding: 10px 0;
  font-size: .71em;
}
.add_partner .box p.partner_info span {
  display: block;
  color: #ff0000;
}
.add_partner .box form {
  text-align: center;
  margin: 16px 0 0 0;
}
.add_partner .box .left {
  width: 85%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 0 5% 0 6%;
}
.add_partner .box .right {
  width: 85%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 0 9% 0 2%;
}
.add_partner .box label {
  font-size: .82em;
  display: block;
  font-family: 'Conv_Myriad_Pro_Light';
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 5px 0 9px;
}
.add_partner .box input[type="text"] {
  border: 1px solid #e5e5e5;
  width: 94%;
  height: 21px;
  padding: 0 2%;
  margin: 5px 0 15px;
}
.add_partner .box .notValid {
  position: relative;
}
.add_partner .box .notValid:before {
  content: "Вы не заполнили это поле";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
}
.add_partner .box input[type="radio"] {
  display: none;
}
.add_partner .box p.label {
  font-size: .82em;
  display: block;
  margin: 5px 0 9px;
}
.add_partner .box label.checkbox_yes {
  display: inline-block;
  position: relative;
  margin-left: 40px;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 22px;
}
.add_partner .box label.checkbox_yes:before {
  content: "";
  border: 4px solid #ffffff;
  width: 10px;
  height: 10px;
  background: #ffffff;
  display: block;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 0 3px #7B7E80;
  left: -30px;
  top: -2px;
}
.add_partner .box label.checkbox_no {
  display: inline-block;
  position: relative;
  margin-left: 70px;
  cursor: pointer;
}
.add_partner .box label.checkbox_no:before {
  content: "";
  border: 4px solid #ffffff;
  width: 10px;
  height: 10px;
  background: #ffffff;
  display: block;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 0 3px #7B7E80;
  left: -30px;
  top: -2px;
}
.add_partner .box input[type="radio"]:checked + label:before {
  background: #696969;
}
.add_partner .box .selectbox {
  width: 100%;
  margin-top: 9px;
}
.add_partner .box .selectbox .select {
  display: block;
  cursor: pointer;
  overflow: hidden;
  width: 60%;
}
.add_partner .box .selectbox .select .text {
  white-space: nowrap;
  font-weight: 500;
  font-size: .82em;
  color: #000;
  border-bottom: 2px solid #81769f;
  padding: 0 5px 5px;
}
.add_partner .box .selectbox .dropdown {
  top: 31px;
  background: url(../img/klyaksa.png) 100% 100% no-repeat;
  background-color: #ffffff;
  z-index: 10000 !important;
  margin-top: -13px;
  border-bottom: 2px solid #81769f;
}
.add_partner .box .selectbox .dropdown ul {
  min-width: 0;
  width: 191px;
}
.add_partner .box .selectbox .dropdown ul li {
  padding: 13px 5px;
  list-style-type: none;
  overflow: hidden;
  background: url(../img/arrow-right.png) 95% 50% no-repeat;
  white-space: pre-wrap;
  font-size: .82em;
  color: #3f3f3f;
  cursor: pointer;
}
.add_partner .box .selectbox .dropdown ul li:hover {
  background: #ddd;
}
.add_partner .box button.submit {
  border: 1px solid #636363;
  color: #636363;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 2.5%;
  background: #ffffff;
  cursor: pointer;
  margin: 20px 0;
}
.add_partner .box button.submit:hover {
  background: #dddddd;
}
.partner_box p {
  font-family: 'Conv_Myriad_Pro_Regular';
  padding: 20px 9% 0;
  font-size: .8em;
}
.partner_box .box {
  border: 0;
}
/*Где купить*/
.gde_kupit {
  background: #ffffff;
}
.gde_kupit h1 {
  font-size: 1.2em;
  padding-top: 14px;
  margin: 0 0 20px 5.5%;
}
.gde_kupit p.descript {
  font-size: .67em;
  width: 80%;
  margin: 40px 0 0 5.5%;
  line-height: 1.15;
}
.gde_kupit p.descript br {
  padding: 5px;
}
.gde_kupit h2 {
  font-size: 1.18em;
  margin: 48px 5.5% 50px 5.5%;
}
.gde_kupit .row_partner {
  margin: 0 19% 10px 5.5%;
}
.gde_kupit .row_partner p {
  font-size: 1.2em;
  vertical-align: middle;
}
.gde_kupit .row_partner select {
  display: inline-block;
}
.gde_kupit .row_partner .selectbox {
  width: 300px;
  display: block;
  padding-top: 15px;
}
.gde_kupit .row_partner .selectbox .select {
  display: block;
  cursor: pointer;
  overflow: hidden;
  width: 60%;
}
.gde_kupit .row_partner .selectbox .select .text {
  white-space: nowrap;
  font-weight: 500;
  font-size: .82em;
  color: #000;
  border-bottom: 2px solid #81769f;
  padding: 0 5px 5px;
}
.gde_kupit .row_partner .selectbox .dropdown {
  top: 31px;
  background: url(../img/klyaksa.png) 100% 100% no-repeat;
  background-color: #ffffff;
  z-index: 10000 !important;
  margin-top: -13px;
  border-bottom: 2px solid #81769f;
}
.gde_kupit .row_partner .selectbox .dropdown ul {
  min-width: 0;
  width: 191px;
}
.gde_kupit .row_partner .selectbox .dropdown ul li {
  padding: 13px 5px;
  list-style-type: none;
  overflow: hidden;
  background: url(../img/arrow-right.png) 95% 50% no-repeat;
  white-space: pre-wrap;
  font-size: .82em;
  color: #3f3f3f;
  cursor: pointer;
}
.gde_kupit .row_partner .selectbox .dropdown ul li:hover {
  background: #ddd;
}
.gde_kupit .row_partner a.add_partner {
  display: inline-block;
  font-size: .79em;
  color: #000;
}
.map {
  width: 100%;
  height: 330px;
}
.map img {
  width: 100%;
}
/*Модалка о о партнере*/
.modal_background {
  position: absolute;
  width: 100%;
  height: 200%;
  top: 0;
  left: 0;
  z-index: 10;
}
.modal_background .modal_partner {
  background: #ffffff;
  position: absolute;
  top: 10%;
  width: 100%;
  border: 1px solid #d7d7d8;
}
.modal_background a.close {
  position: absolute;
  right: 40px;
  top: -35px;
  color: #000;
}
.modal_background table {
  border-collapse: collapse;
}
.modal_background table tbody tr td {
  width: 50%;
}
.modal_background table tbody tr td img {
  display: block;
  margin: 0 auto;
  padding: 25px 0 0 0;
}
.modal_background table tbody tr td p {
  font-size: .94em;
  width: 90%;
  margin: 0 auto;
  line-height: 1.4;
}
.modal_background table tbody tr td h3 {
  width: 90%;
  margin: 0 auto;
  font-size: 1.39em;
}
.modal_background table tbody .row2 {
  height: 86px;
}
.modal_background table tbody .row3 {
  height: 40px;
}
.modal_background table tbody .row4 {
  height: 51px;
}
.modal_background table .line img {
  width: 100%;
}
.modal_background .line {
  padding-top: 16px;
}
.modal_background .town {
  text-align: center;
}
.modal_background .town a {
  display: inline-block;
  font-size: .93em;
  padding: 36px 2.5%;
  color: #000;
}
/*404 - страница*/
.page_no_found .header_dop_line {
  height: 45px;
  width: 100%;
  background: #fff;
}
.page_no_found img.img_no_found {
  margin: 50px auto 0;
  display: block;
  width: 80%;
}
.page_no_found p.p_no_found {
  display: block;
  margin: 10px 0 50px 29%;
  font-size: 1.7em;
}
.page_no_found .footer_dop_line {
  width: 100%;
  height: 20px;
  background: #fff;
}
/*Контакты*/
/*Контакты*/
input[name="tabs"] {
  display: none;
}
input#first_tab:checked ~ .contact_box_control > label.label_for_first_tab {
  text-decoration: underline;
}
input#first_tab:checked ~ .tab1 {
  display: block;
}
input#first_tab:checked ~ .tab2,
.tab3 {
  display: none;
}
input#second_tab:checked ~ .contact_box_control > label.label_for_second_tab {
  text-decoration: underline;
}
input#second_tab:checked ~ .tab2 {
  display: block;
}
input#second_tab:checked ~ .tab1,
.tab3 {
  display: none;
}
input#third_tab:checked ~ .contact_box_control > label.label_for_third_tab {
  text-decoration: underline;
}
input#third_tab:checked ~ .tab3 {
  display: block;
}
input#third_tab:checked ~ .tab1,
.tab2 {
  display: none;
}
.contact_box_control {
  text-align: center;
  background: #fff;
  overflow: hidden;
}
.contact_box_control label {
  font-size: .67em;
  position: relative;
  cursor: pointer;
  display: block;
  margin: 30px 0 30px 30px;
  padding: 0 1%;
}
.contact_box {
  background: #ffffff;
  min-height: 750px;
}
form.contact_form {
  padding-bottom: 60px;
  overflow: hidden;
  /*Механизм переключения*/
  /*Механизм переключения конец*/
}
form.contact_form h2 {
  font-size: 1.181em;
  line-height: 1.3;
  margin: 28px 0 20px 13.5%;
}
form.contact_form p.how_name {
  font-size: .87em;
  margin: 26px 0 12px 13.5%;
}
form.contact_form input#userName {
  margin: 0 0 15px 13.5%;
  width: 29%;
}
form.contact_form .two_subject {
  border: 1px solid #a0a0a0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 21px auto 30px 12%;
  width: 58.5%;
}
form.contact_form .two_subject p {
  margin: -8px 0 0 12px;
  font-size: .8em;
  background: #fff;
  width: 100px;
  padding: 0 5px;
}
form.contact_form .two_subject label {
  font-size: .8em;
  position: relative;
  margin-left: 37px;
  cursor: pointer;
  display: inline-block;
  padding-top: 5px;
  margin-right: 19px;
}
form.contact_form .two_subject label:before {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #FFFFFF;
  background: #FFFFFF;
  -webkit-box-shadow: 0 0 3px #7B7E80;
  -moz-box-shadow: 0 0 3px #7B7E80;
  box-shadow: 0 0 3px #7B7E80;
  display: block;
  position: absolute;
  top: 2px;
  left: -26px;
}
form.contact_form .two_subject input[type="radio"]:checked + label:before {
  background: #808080;
}
form.contact_form p.partner_info {
  margin-left: 12%;
  padding: 10px 0;
  font-size: .71em;
}
form.contact_form p.partner_info span {
  display: block;
  color: #ff0000;
}
form.contact_form .left {
  width: 34%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 0 4% 0 12%;
}
form.contact_form .right {
  width: 34%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 0 9% 0 1%;
}
form.contact_form label {
  font-size: .82em;
  display: block;
  font-family: 'Conv_Myriad_Pro_Light';
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 5px 0 9px;
}
form.contact_form input[type="text"] {
  border: 1px solid #e5e5e5;
  width: 94%;
  height: 21px;
  padding: 0 2%;
  margin: 5px 0 15px;
}
form.contact_form .notValid {
  position: relative;
}
form.contact_form .notValid:before {
  content: "Вы не заполнили это поле";
  position: absolute;
  right: 0;
  top: 0;
  display: block;
}
form.contact_form input[type="radio"] {
  display: none;
}
form.contact_form p.label {
  font-size: .82em;
  display: block;
  margin: 5px 0 9px;
}
form.contact_form label.checkbox_yes {
  display: inline-block;
  position: relative;
  margin-left: 40px;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 22px;
}
form.contact_form label.checkbox_yes:before {
  content: "";
  border: 4px solid #ffffff;
  width: 10px;
  height: 10px;
  background: #ffffff;
  display: block;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 0 3px #7B7E80;
  left: -30px;
  top: -2px;
}
form.contact_form label.checkbox_no {
  display: inline-block;
  position: relative;
  margin-left: 70px;
  cursor: pointer;
}
form.contact_form label.checkbox_no:before {
  content: "";
  border: 4px solid #ffffff;
  width: 10px;
  height: 10px;
  background: #ffffff;
  display: block;
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0 0 3px #7B7E80;
  left: -30px;
  top: -2px;
}
form.contact_form input[type="radio"]:checked + label:before {
  background: #696969;
}
form.contact_form .selectbox {
  width: 100%;
  margin-top: 9px;
}
form.contact_form .selectbox .select {
  display: block;
  cursor: pointer;
  overflow: hidden;
  width: 60%;
}
form.contact_form .selectbox .select .text {
  white-space: nowrap;
  font-weight: 500;
  font-size: .82em;
  color: #000;
  border-bottom: 2px solid #81769f;
  padding: 0 5px 5px;
}
form.contact_form .selectbox .dropdown {
  top: 31px;
  background: url(../img/klyaksa.png) 100% 100% no-repeat;
  background-color: #ffffff;
  z-index: 10000 !important;
  margin-top: -13px;
  border-bottom: 2px solid #81769f;
}
form.contact_form .selectbox .dropdown ul {
  min-width: 0;
  width: 191px;
}
form.contact_form .selectbox .dropdown ul li {
  padding: 13px 5px;
  list-style-type: none;
  overflow: hidden;
  background: url(../img/arrow-right.png) 95% 50% no-repeat;
  white-space: pre-wrap;
  font-size: .82em;
  color: #3f3f3f;
  cursor: pointer;
}
form.contact_form .selectbox .dropdown ul li:hover {
  background: #ddd;
}
form.contact_form button.submit {
  border: 1px solid #636363;
  color: #636363;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 8px 2.5%;
  background: #ffffff;
  cursor: pointer;
  margin: 20px 0;
  display: block;
  margin: 20px auto 0;
}
form.contact_form button.submit:hover {
  background: #dddddd;
}
.item_contact {
  padding-top: 30px;
}
.item_contact .left {
  margin: 0 4.5%;
  display: block;
  vertical-align: top;
  width: 80%;
}
.item_contact .left h2 {
  font-size: 1.17em;
  margin-bottom: 10px;
}
.item_contact .left p.name {
  margin-top: 20px;
  font-size: .9em;
}
.item_contact .left p.name span {
  display: block;
  margin-top: 6px;
  font-size: .87em;
}
.item_contact .left p.tel {
  margin-top: 28px;
  font-size: .8em;
}
.item_contact .left p.addr {
  font-size: .8em;
  margin-top: 24px;
  line-height: 1.1;
}
.item_contact .map {
  display: inline-block;
  width: 91%;
  height: 200px;
  margin: 20px 4.5%;
}
.item_contact .map img {
  width: 100%;
}
/*Модуль управления темой писма*/
input#two_first_subject:checked ~ .two_subject > label.label_two_first_subject:before {
  background: #808080;
}
input#two_second_subject:checked ~ .two_subject > label.label_two_second_subject:before {
  background: #808080;
}
input#two_third_subject:checked ~ .two_subject > label.label_two_third_subject:before {
  background: #808080;
}
input#two_first_subject:checked ~ .form1 {
  display: block;
}
input#two_first_subject:checked ~ .form2,
.form3 {
  display: none;
}
input#two_second_subject:checked ~ .form2 {
  display: block;
}
input#two_second_subject:checked ~ .form1,
.form3 {
  display: none;
}
input#two_third_subject:checked ~ .form3 {
  display: block;
}
input#two_third_subject:checked ~ .form1,
.form2 {
  display: none;
}
/*Модуль управления темой писма конец*/
.form1,
.form2,
.form3 {
  display: none;
  overflow: hidden;
}
.form1,
.form3 {
  width: 34%;
  vertical-align: top;
  text-align: left;
  margin: 0 4% 0 12%;
}
.form1 textarea,
.form3 textarea {
  border: 1px solid #e5e5e5;
  width: 94%;
  height: 130px;
  padding: 0 2%;
  margin: 5px 0 15px;
}
.dop_opros {
  display: none;
  overflow: hidden;
}
.dop_opros textarea {
  border: 1px solid #e5e5e5;
  width: 94%;
  height: 130px;
  padding: 0 2%;
  margin: 5px 0 15px;
}
input#checkbox_yes:checked ~ .dop_opros {
  display: block;
}
/*Модалка о написать нам*/
.modal_background {
  position: absolute;
  width: 100%;
  height: 200%;
  top: 0;
  left: 0;
  z-index: 10;
}
.modal_background .modal_napisat_nam {
  background: #ffffff;
  position: absolute;
  top: 10%;
  width: 100%;
  border: 1px solid #d7d7d8;
}
.modal_background .modal_napisat_nam_otvet {
  height: 590px;
  text-align: center;
  background: #ffffff;
  position: absolute;
  top: 10%;
  width: 100%;
  border: 1px solid #d7d7d8;
}
.modal_background .modal_napisat_nam_otvet h3 {
  margin-top: 40%;
  font-size: 1.75em;
  margin-bottom: 30px;
}
.modal_background .modal_napisat_nam_otvet p {
  font-size: 1.25em;
}
.modal_background a.close {
  position: absolute;
  right: 0;
  top: -35px;
  color: #000;
}
/*Страница поиска*/
.search_box {
  background: #ffffff;
  overflow: hidden;
}
.search_box h4 {
  font-size: 1.17em;
  margin-left: 4%;
  margin-top: 52px;
  margin-bottom: 15px;
}
.search_box p {
  margin-left: 4%;
  margin-top: 24px;
  font-size: .89em;
  line-height: 1.2;
}
.search_box input[type="text"] {
  display: block;
  width: 70%;
  margin-left: 4%;
  margin-top: 39px;
  margin-bottom: 5px;
}
.search_box button {
  display: block;
  margin-left: 4%;
  background: #fff;
  border: 0;
  color: #000;
  font-family: 'Conv_Myriad_Pro_Light';
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: .9em;
}
.search_box button:focus {
  outline: none;
}
.search_box .dop_link {
  text-align: center;
  margin: 114px 0 120px;
}
.search_box a {
  display: block;
  color: #000;
  margin: 0 10% 20px;
}
.search_box a img {
  display: block;
  margin: 0 auto;
}
.search_box a span {
  display: block;
  margin-top: 36px;
  font-size: .87em;
}
