@import "style";

a{
  text-decoration: none;
  &:hover{
    border-bottom: 1px dotted;
    text-decoration: none;
  }
}


body{
  width: 100%;
  background: @color_grey;
  min-width: 360px;
  overflow-x: hidden;
}

header{
  display: none;
}

.logo{
  width: 100%;
  background: @color-white;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  .logo-box{
    display: none;
  }
  p.descript_logo{
    .font_Museo_300;
    color: @color-brown;
    text-transform: uppercase;
    font-size: .875em;
    display: block;
    background: url(../img/kalitva_logo.jpg) 0 0 no-repeat;
    padding: 30px 20px 30px 100px;
  }
}
.main_slider{
  display: none;
  overflow: hidden;
}
.navigation{
  width: 100%;
  background: @color-white;
  label.nav_check{
    width: 100%;
    overflow: hidden;
    display: block;
    margin-bottom: 20px;
    .button{
      display: block;
      width: 32px;
      height: 24px;
      border: 1px solid #ddd;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      margin: 0 20px 0 20px;
      cursor: pointer;
      padding: 4px 4px 2px;
      float: right;
      &:hover{ background: #ddd;}
      span.line{
        height: 2px;
        background: grey;
        display: block;
        width: 60%;
        margin: 4px auto;
      }
    }


  }
  input#nav:checked + .nav-box{
    max-height: 1000px;
    opacity: 1;
  }
  input#nav{ display: none;}
  .nav-box{
    max-height: 0;
    overflow: hidden;
    transition-duration: .5s;
    opacity: 0;
    ul{
      li{
        list-style-type: none;
        border-bottom: 1px solid @color-light-grey;
        padding: 5px 0;
        &:nth-child(1){border-top: 1px solid @color-light-grey;}
        a{
          .font_dincondensedc;
          color:@color-blue;
          text-transform: uppercase;
          font-size: .8125em;
          padding-left: 5%;
        }

      }
    }
  }
}
.info-box{
  width: 100%;
  background: @color-white;
  .left{
    h2{
      font-size: 1.5em;
      .font_myriad_pro;
      color:@color-black;
      padding: 10px 20px 5px;

    }
    p{
      padding: 0 20px 5px ;
      .font_myriad_pro;
      font-size: .875em;

    }
    a{
      font-size: .875em;
      .font_Museo_300;
      color: @color-black;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;
      border-bottom: 1px dotted @color-black;
      margin: 15px 0;
    }
    span.more{
      display: inline-block;
      background: url(../img/li-i.jpg) 0 0 no-repeat;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 31px;
      height: 31px;
      vertical-align: middle;
      margin-left: 10%;
    }
    span.catalog{
      display: inline-block;
      background: url(../img/li-book.jpg) 0 0 no-repeat;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 31px;
      height: 31px;
      vertical-align: middle;
      margin-left: 10%;

    }
    span.contact{
      display: inline-block;
      background: url(../img/li-tel.jpg) 0 0 no-repeat;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 31px;
      height: 31px;
      vertical-align: middle;
      clear: both;
      margin-left: 10%;
    }
    .line{
      width: 100%;
      height: 5px;
    }
  }
  .right{
    display: none;
  }
}
footer{
  background: @color-white;
  position: relative !important;
  padding-bottom: 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  .lang{
    display: none;
  }
  .nav{
    width: 100%;
    table{
      width: 100%;
      tbody{
        tr{
          td{
            width: 33%;
            a{
              color: @color-black;
              font-size: .875em;
              padding: 5px 0;
            }
          }
        }
      }
    }

  }
  .contact{
    margin: 20px 0;
    a{
      font-size: .875em;
      text-decoration: none;
    }
    a.tel{
      color: @color-black;
      padding-left: 6%;
      &:hover{  border:0;  }
    }
    a.mail{
      color: @color-link-blue;
      float: right;
      line-height: 1.4;
      padding-right: 6%;
      &:hover{  border:0;  }
    }
  }
}
.parallax-item{
  display: none !important;
}

/**Правки для внутренних страниц**/

.other_page_navigation{
  padding-top: 10px;
  .nav-box{
    ul{
      .checked_nav{

        a{
          color: @color-light-grey2;
        }
      }
    }
  }
}
.breadcrumbs{
  padding: 15px 13% 30px;
  background: url(../img/box-shadow.jpg) 0 83% no-repeat;
  background-color: #ffffff;
  background-size: 100%;
  text-align: center;
  a{
    color: @color-blue;
    font-size: .65em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1%;
  }
  img.breadcrumbs-arrow{
    display: inline-block;
    vertical-align: middle;
  }
  span.this_page{
    font-size: .65em;
    color: #636363;
    display: inline-block;
    vertical-align: middle;
  }

}
/*Для страницы акции*/
.content{
  overflow: hidden;
  background: @color-white;
  aside{
    display: none;
    vertical-align: top;
    background: #ffffff;
    width: 19.166666%;
    padding: 55px 2.395833% 0 5.208333%;
    a.full_cat{
      color: @color-dark_blue;
      font-size: .81em;
      border-bottom: 1px solid @color-grey2;
      text-decoration: none;
    }
    h2{
      padding: 5px 0 15px;
      font-size: .915em;
      color: @color-blue;
    }
    ul.cat_navigation{
      margin: 8px 0 0 4%;
      min-width: 0;

      li{
        margin-bottom: 2px;
        list-style-type: none;
        a{
          color: @color-grey2;
          font-size: .6em;
          text-decoration: none;
          border-bottom: 1px solid @color-grey2;
          padding-bottom: 3px;

          &:hover{
            border-bottom: 1px solid @color-grey2;
          }

        }

      }
    }
  }
  .box_content{
    padding-right: 5.416666%;
    padding-top: 59px;
    margin-bottom: 30px;
    img{
      display: inline-block;
      width: 30.340557%;
      margin-right: 2.895975%;
      vertical-align: top;

    }
    .action_text{
      display: inline-block;
      width: 65.099071%;
      vertical-align: top;
      h3{
        font-size: 1.17em;
        line-height: 1.4;
        margin-bottom: 5px;

      }
      h4{
        font-size: .9em;
        margin: 15px 0;
      }
      p{
        font-size: 0.673em;
        line-height: 1.3;
        padding: 5px 0;
      }
      a.continue{
        float: right;
        font-size: .7em;
        margin: 16px 20px;
        color: @color-link-blue;
      }
    }

  }


}
.row{
  text-align: center;
  padding-bottom: 45px;
  background: url(../img/box-shadow.jpg) 0 87% no-repeat;
  background-color: @color-white;
  background-size: 100%;
  a.dop_button{
    border: 1px solid @color-grey2;
    color: @color-grey2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 6.5%;
    &:hover{
      background: #dddddd;
    }

  }
}


.catalog-option{
  position: relative;
  .catalog_option_line{
    border-bottom: 2px solid #c6c6c6;
    margin-bottom: -15px;
    width: 89%;
  }
  .opt{
    display: inline-block;
    width: 22.322142%; /*152px*/
    p{
      display: block;
      .font_Museo_500;
      font-size: .54em;
      color: #7b7b7b;
      margin-right: 2%;
      padding: 0 5px;
      background: url(../img/arrow-bottom.png) 89% 50% no-repeat;
    }
    /*Селекты панели управления*/
    .selectbox{
      width: 100%;
      margin-right: 1%;
      margin-top: -25px;
      .select{
        padding-top: 45px;
        display: block;
        cursor: pointer;
        overflow: hidden;
        width: 90%;
        .text{
          white-space: nowrap;
          .font_Museo_500;
          font-size: .54em;
          color: #3f3f3f;
          border-bottom: 2px solid #81769f;
          padding: 0 5px 5px;
        }
      }
      .dropdown{
        top: 45px;
        background: url(../img/klyaksa.png) 100% 100% no-repeat;
        background-color: #ffffff;
        z-index: 10000 !important;
        margin-top: -13px;
        border-bottom: 2px solid #81769f;
        ul{
          min-width: 0;
          width: 150px;
          li{
            padding: 13px 5px;
            list-style-type: none;
            overflow: hidden;
            background: url(../img/arrow-right.png) 95% 50% no-repeat;
            white-space: pre-wrap;
            .font_Museo_500;
            font-size: .54em;
            color: #3f3f3f;
            cursor: pointer;
            &:hover{
              background: #ddd;
            }
          }
        }
      }
    }
  }


}
.content_catalog{
  aside{
    float: left;
    vertical-align: top;
    background: #ffffff;
    width: 19.166666%;
    padding: 55px 0 0 5.208333%;
  }
  .box_content_catalog{
    padding-top: 59px;
    margin-bottom: 30px;
    padding-right: 0;
    .catalog_option{
      display: none;

    }
    .catalog_item{
      text-decoration: none;
      display: inline-block;
      width: 44%;
      text-align: center;
      padding: 4.4% 0;
      position: relative;
      &:hover{
        border: 0;
      }
      span.label{
        position: absolute;
        display: block;
        width: 52px;
        height: 52px;
        top: 5px;
        right: 20px;
      }
      span.action{
        background: url(../img/label_action.png) 50% 50% no-repeat;
      }
      span.new{
        background: url(../img/label_new.png) 50% 50% no-repeat;
      }
      img{
        display: block;
        width: 100%;

      }
      span.name_catalog_item{
        text-decoration: none;
        color: @color-grey2;
        font-size: .7em;
        padding-top: 24px;
        display: block;
      }


    }
  }

}
.ver2{
  margin-top: -20px;
  .catalog_option_line{  display: none;  }

  .opt{

    p{  display: none;  }
  }
}
/*Модальное окно*/

.modal{
  text-align: center;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -180px;
  z-index: 10;
  a.close{
    position: absolute;
    top: -55px;
    right: 15px;
    color: #000;
    font-size: 1em;
  }
  .prev_tov{
    display: inline-block;
    width: 270px;
    vertical-align: top;
    margin-top: 10%;
    img{
      width: 100%;
    }
    p{
      padding: 80px 0 0 0;
      font-size: 1em;
    }
  }
  .next_tov{
    display: inline-block;
    width: 270px;
    vertical-align: top;
    margin-top: 10%;
    img{
      width: 100%;
    }
    p{
      padding: 80px 0 0 0;
      font-size: 1em;
    }
  }
  .main_modal_slider{
    width: 360px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    .block{
      width: 360px;
      height: 595px;
      background: #ffffff ;
      position: absolute;
      top: 0;
      border: 1px solid #d7d7d8;
    }
    .main_modal_slide_item{
      padding: 0;
      width: 360px !important;
      margin: 0;
      height: 560px;
      opacity: 0;
      transition-duration: .7s;
      .head{
        margin-bottom: 35px;
        position: relative;
        img{
          width: 100%;
        }
        a.close{
          position: absolute;
          color: #000;
          top: -55px;
          right: 0;
          border-bottom: 1px dotted #000;
          font-size: 0.8em;
          text-decoration: none;

        }

      }
      h2{
        font-size: 1.51em;
        text-align: center;
      }
      p{
        font-size: .7em;
        text-align: center;
        padding-top: 10px;
      }
      .option_box{
        margin-top: 25px;
        text-align: center;
        min-height: 100px;
        position: relative;
        input[type="radio"]{display: none;}
        input[type="radio"]:checked + label>span{opacity: 1; z-index: 5;}
        input[type="radio"]:checked + label>span>span{opacity: 1; z-index: 5;}
        label{
          display: inline-block;
          width: 54px;
          height: 54px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          margin: 0 5px 15px;
          cursor: pointer;
          vertical-align: top;
          &:hover{
            background-color: #DDDDDD;

            span{
              z-index: 10;
              opacity: 1;
            }
          }
          span{
            opacity: 0;
            position: absolute;
            bottom: 5px;
            left: 0;
            background: #fff;
            display: block;
            transition: .3s;
          }
          span.label_block{
            width: 100%;
            height: 10px;
            background: #FFFFFF;

            span.text{
              position: relative;
              margin: 0 auto;
              font-size: .7em;
            }
          }
        }
        label.option1{
          background: url(../img/option1.png) 50% 50% no-repeat;
          &:hover{
            background-color: #DDDDDD;
          }
        }
        label.option2{
          background: url(../img/option2.png) 50% 50% no-repeat;
          &:hover{
            background-color: #DDDDDD;
          }
        }
        label.option3{
          background: url(../img/option3.png) 50% 50% no-repeat;
          &:hover{
            background-color: #DDDDDD;
          }
        }
        label.option4{
          background: url(../img/option4.png) 50% 50% no-repeat;
          &:hover{
            background-color: #DDDDDD;
          }
        }
        label.option5{
          background: url(../img/option5.png) 50% 50% no-repeat;
          &:hover{
            background-color: #DDDDDD;
          }
        }

        p.text_option{
          padding-top: 0;
          max-height: 0;
          opacity: 0;
          transition: .7s;

        }

      }
      .osobennost_box{
        margin-top: 10px;
        ul.tabs_osobennost{
          li{
            display: inline-block;
            width: 115px;
            cursor: pointer;
            height: 55px;
            font-size: .8em;
            vertical-align: middle;
            line-height: 3.4;
            margin-bottom: 20px;
            .font_myriad_pro;

          }
          li.current {
            background: #9a9a9a;
            &:after {
              content: "";
              display: block;
              margin-top: 1px;
              border: 58px solid rgba(0, 0, 0, 0);
              border-top: 10px solid #9a9a9a;
            }
          }
        }
        .box{
          font-size: .7em;
          text-align: center;
          .font_myriad_pro;
        }


        text-align: center;
        min-height: 120px;


      }
      table{
        border-collapse: collapse;
        text-align: center;
        tbody{
          tr{
            border-bottom: 1px solid #5e52a8 ;
            th{
              .font_myriad_pro;
              color: #767576;
              font-size: .58em;
              padding: 4px 2px;
            }
            td{
              padding: 4px 0;
              .font_myriad_pro;
              color: #767576;
              font-size: .58em;
            }
          }
        }
      }
    }
    .slick-active{
      opacity: 1;
    }

  }

  ul.slick-dots{ display: none !important;}
  button.slick-prev{
    background: url(../img/slider_arrow_left-grey.png) 0 0 no-repeat;
    top: 30%;


  }
  button.slick-next{
    background: url(../img/slider_arrow_right-grey.png) 0 0 no-repeat;
    top: 30%;

  }
}


/*О нас*/

.about{
  overflow: hidden;
  background: @color-white;
  table{
    width: 100%;
    tr{
      th{
        display: block;
        width: 90%;
        padding: 0 2% 0 7%;
        vertical-align: top;
        text-align: center;
      }
      td{
        display: block;
        width: 90%;
        padding: 0 2% 10px 7%;
        vertical-align: top;
        text-align: center;
      }
    }

  }
  .box{
    margin-bottom: 50px;
    text-align: left;
  }
  h2{
    font-size: 1.2em;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  p{
    font-size: .67em;
    line-height: 1.35;

  }
  ul{
    margin: 16px 0 0 17px;
    min-width: 0;
    li{
      padding-bottom: 13px;
      .font_myriad_pro;
      list-style-type: none;
      font-size: .67em;

    }
  }
  a.add_partner{
    border: 1px solid #636363;
    color: #636363;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 6.5%;

    &:hover{ background: #ddd;}
  }

}
.partner_box{
  background: @color-white;
  p{
    font-size: .7em;
    color: #000;
    padding: 0 6%;
  }
  .box{
    width: 91%;
    margin: 0 auto;
    .slick-initialized{
      padding: 25px 0;
      .slick-list{
        width: 95%;
        margin: 0 auto;
      }
      .slick-prev{
        background: url(../img/slider_pertner_left_arrow.jpg) 0 0 no-repeat;
        width: 8px;
        height: 14px;
        top: 50%;
        margin-top: -7px;
        left: 1%;
      }
      .slick-next{
        background: url(../img/slider_pertner_right_arrow.jpg) 0 0 no-repeat;
        width: 8px;
        height: 14px;
        top: 50%;
        margin-top: -7px;
        right: 1%;
      }
    }
    .slider-part{
      .slide-item{
        display: inline-block;
        height: 55px;
        img{
          display: block;
          margin: auto;
        }
      }
    }
  }
}

/*Услуги*/

.uslugi{
  background: @color-white;
  text-align: center;
  input[type="radio"]{  display: none;  }
  label.label_uslugi{
    text-align: left;
    display: inline-block;
    width: 18%;
    vertical-align: top;
    margin: 30px .5% 50px 0;
    cursor: pointer;
    word-break: break-word;
    &:nth-last-child(1){  margin-right: 0;  }

    span.img{
      background: #0d0d0c;
      display: block;
      width: 75%;
      img{
        width: 100%;
        margin-bottom: -4px;
      }
    }
    span.text{
      font-size: .67em;
      display: block;
      line-height: 1.4;
      color: #0d0d0c;

      &:hover{
        text-decoration: underline;
      }

    }

  }

  /*Механизм переключение услуг*/
  input#usluga1:checked ~ .label_uslugi1>span.img {  background: #4776be;  }
  input#usluga1:checked ~ .label_uslugi1>span.text {  color: #4776be;  }
  input#usluga1:checked ~ .usluga2>span.img, .usluga3>span.img, .usluga4>span.img, .usluga5>span.img {  color:#0d0d0c;  }
  input#usluga1:checked ~ .usluga2>span.text, .usluga3>span.text, .usluga4>span.text, .usluga5>span.text { background:#0d0d0c;}
  input#usluga1:checked ~ .box_descript>.descript_uslug_1{  opacity: 1;   max-height: 1000px; transition-delay: .3s  }
  input#usluga1:checked ~ .box_descript>.descript_uslug_2, .box_descript>.descript_uslug_3, .box_descript>.descript_uslug_4, .box_descript>.descript_uslug_5 {  opacity: 0;  max-height: 0;  }


  input#usluga2:checked ~ .label_uslugi2>span.img {  background: #4776be;  }
  input#usluga2:checked ~ .label_uslugi2>span.text {  color: #4776be;  }
  input#usluga2:checked ~ .usluga1>span.img, .usluga3>span.img, .usluga4>span.img, .usluga5>span.img {  color:#0d0d0c;  }
  input#usluga2:checked ~ .usluga1>span.text, .usluga3>span.text, .usluga4>span.text, .usluga5>span.text { background:#0d0d0c;}
  input#usluga2:checked ~ .box_descript>.descript_uslug_2{  opacity: 1;   max-height: 1000px; transition-delay: .3s  }
  input#usluga2:checked ~ .box_descript>.descript_uslug_1, .box_descript>.descript_uslug_2, .box_descript>.descript_uslug_4, .box_descript>.descript_uslug_5 {  opacity: 0;  max-height: 0;  }


  input#usluga3:checked ~ .label_uslugi3>span.img {  background: #4776be;  }
  input#usluga3:checked ~ .label_uslugi3>span.text {  color: #4776be;  }
  input#usluga3:checked ~ .usluga1>span.img, .usluga2>span.img, .usluga4>span.img, .usluga5>span.img {  color:#0d0d0c;  }
  input#usluga3:checked ~ .usluga1>span.text, .usluga2>span.text, .usluga4>span.text, .usluga5>span.text { background:#0d0d0c;}
  input#usluga3:checked ~ .box_descript>.descript_uslug_3{  opacity: 1;   max-height: 1000px; transition-delay: .3s  }
  input#usluga3:checked ~ .box_descript>.descript_uslug_1, .box_descript>.descript_uslug_2, .box_descript>.descript_uslug_4, .box_descript>.descript_uslug_5 {  opacity: 0;  max-height: 0;  }


  input#usluga4:checked ~ .label_uslugi4>span.img {  background: #4776be;  }
  input#usluga4:checked ~ .label_uslugi4>span.text {  color: #4776be;  }
  input#usluga4:checked ~ .usluga1>span.img, .usluga2>span.img, .usluga3>span.img, .usluga5>span.img {  color:#0d0d0c;  }
  input#usluga4:checked ~ .usluga1>span.text, .usluga2>span.text, .usluga3>span.text, .usluga5>span.text { background:#0d0d0c;}
  input#usluga4:checked ~ .box_descript>.descript_uslug_4{  opacity: 1;   max-height: 1000px; transition-delay: .3s  }
  input#usluga4:checked ~ .box_descript>.descript_uslug_1, .box_descript>.descript_uslug_2, .box_descript>.descript_uslug_3, .box_descript>.descript_uslug_5 {  opacity: 0;  max-height: 0;  }


  input#usluga5:checked ~ .label_uslugi5>span.img {  background: #4776be;  }
  input#usluga5:checked ~ .label_uslugi5>span.text {  color: #4776be;  }
  input#usluga5:checked ~ .usluga1>span.img, .usluga2>span.img, .usluga3>span.img, .usluga4>span.img {  color:#0d0d0c;  }
  input#usluga5:checked ~ .usluga1>span.text, .usluga2>span.text, .usluga3>span.text, .usluga4>span.text { background:#0d0d0c;}
  input#usluga5:checked ~ .box_descript>.descript_uslug_5{  opacity: 1;  max-height: 1000px; transition-delay: .3s  }
  input#usluga5:checked ~ .box_descript>.descript_uslug_1, .box_descript>.descript_uslug_2, .box_descript>.descript_uslug_3, .box_descript>.descript_uslug_4 {  opacity: 0;  max-height: 0;  }

  .descript_uslug_1, .descript_uslug_2, .descript_uslug_3, .descript_uslug_4, .descript_uslug_5 {transition-duration: .3s; }

  /*Механизм переключение услуг конец*/

  .box_descript{
    padding-bottom: 50px;
    min-height: 120px;
    .descript_uslug_1{
      text-align: center;

    }
    .left{

      display: inline-block;
      width: 90%;
      vertical-align: middle;
      padding-right: 1.8%;
      h3{
        font-size: 1.17em;
        line-height: 1.3;

      }
    }
    .right{
      display: inline-block;
      text-align: left;
      width: 90%;
      vertical-align: middle;
      padding-left: 1.8%;
      p{
        font-size: .79em;
        line-height: 1.3;

      }
    }
  }
  .after_descript{
    padding: 30px 0 50px;
    text-align: left;
    p{
      display: block;
      width: 42%;
      margin: 0 auto;
      font-size: .67em;
      padding-right: 3%;
      a{
        color:@color-link-blue;
      }
    }

  }
}


/*Все новости*/

.all_news{
  background: @color-white;
  .main_new{
    width: 90%; /*864*/
    border: 2px solid #9c9c9c;
    margin: 0 auto;
    margin-bottom: 40px;
    .left{
      display: inline-block;
      width: 95%;
      vertical-align: top;
      p.date{
        font-size: .6em;
        padding: 7.4% 0 0 7.6%;
      }
      h2{
        .font_myriad_pro_bold;
        font-size: 1.28em;
        padding: 5% 0 5% 7%;

      }
      p.descript{
        font-size: .706em;
        padding: 0 0 0 7%;
        line-height: 1.35;
      }
      a.continue{
        float: right;
        font-size: .67em;
        padding: 3%;
        color: @color-link-blue;
      }
    }
    .right{
      display: none;
      vertical-align: top;
      img{
        width: 100%;
        margin: 8% 7%;
      }
    }
  }
  .other_news{
    text-align: center;
    .one_other_new{
      display: inline-block;
      width: 22%;
      padding: 5px 3% 20px;
      border: 1px solid #fff;
      &:hover{
        border-color: #9c9c9c;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
      }
      span.date{
        font-size: .8125em;
        text-align: left;
        padding-bottom: 8px;
      }
      span.h3{
        text-align: left;
        font-size: 1.05em;
        line-height: 1.2;
        color: #636363;
        padding-bottom: 10px;
      }
      img{  width: 100%;  }
      span.descript{
        line-height: 1.2;
        text-align: left;
        padding-bottom: 15px;
        display: block;
      }
      span.continue{
        display: block;
        float: right;
        color: @color-link-blue;
      }

    }
  }
  .row{
    padding: 80px 0;
  }
}

/*Одна новость*/

.one_news_box{
  background: @color-white;
}
.one_news{
  padding-top: 25px;
  width: 93%;
  margin: 0 auto;
  p.date{
    font-size: .6em;
  }
  h1{
    font-size: 1.17em;
    line-height: 1.3;
    margin-top: 30px;
  }
  img.main_image{
    margin: 0 auto;
    margin-top: 30px;
  }
  p.descript{
    clear: both;
    line-height: 1.3;
    font-size: .817em;
    padding-top: 25px;
  }
  .gallery{
    padding-top: 20px;
    img{
      display: inline-block;
      width: 30%;
      margin: 0 1.46%;
      &:nth-child(1){  margin-left: 0;  }
      &:nth-last-child(1){  margin-right: 0;  }
    }
  }
  .row{
    padding: 30px 0 90px;

    a{
      font-size: .67em;
      color: #000;
      margin: 0 4%;
      padding: 0;
      text-decoration: none;
      &:hover{
        text-decoration: none;
        border-bottom: 1px dotted #000000;
      }
    }
  }
}

/*Стать партнером*/

.add_partner{
  background: @color-white;

  h1{
    font-size: 1.17em;
    width: 80%;
    line-height: 1.3;
    margin-left: 13.3%;
    padding: 12px 0 29px;
  }
  .uslugi{
    .label_uslugi{
      span.text{
        margin-top: 15px;
      }
    }
  }
  .box{
    border: 1px solid #a0a0a0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
    width: 87%;

    h2{
      font-size: 1.27em;
      .font_myriad_pro_regular;
      background: @color-white;
      margin: -13px 0 20px 6%;
      width: 170px;
      display: block;
      text-align: center;
    }
    p.partner_info{
      margin-left: 7%;
      padding: 10px 0;
      font-size: .71em;
      span{
        display: block;
        color: #ff0000;
      }
    }

    form{
      text-align: center;
      margin: 16px 0 0 0;
    }
    .left{
      width: 85%;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      margin: 0 5% 0 6%;
    }
    .right{
      width: 85%;
      display: inline-block;
      vertical-align: top;
      text-align: left;
      margin: 0 9% 0 2%;
    }
    label{
      font-size: .82em;
      display: block;
      .font_myriad_pro;
      margin: 5px 0 9px;
    }
    input[type="text"]{
      border: 1px solid #e5e5e5;
      width: 94%;
      height: 21px;
      padding: 0 2%;

      margin: 5px 0 15px;

    }
    .notValid{
      position: relative;
      &:before{
        content:"Вы не заполнили это поле";
        position: absolute;
        right: 0;
        top: 0;
        display: block;
      }
    }
    input[type="radio"]{
      display: none;
    }
    p.label{
      font-size: .82em;
      display: block;
      margin: 5px 0 9px;
    }
    label.checkbox_yes{
      display: inline-block;
      position: relative;
      margin-left: 40px;
      cursor: pointer;
      margin-top: 8px;
      margin-bottom: 22px;
      &:before{
        content:"";
        border: 4px solid @color-white;
        width: 10px;
        height: 10px;
        background: #ffffff;
        display: block;
        position: absolute;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        box-shadow: 0 0 3px #7B7E80;
        left: -30px;
        top: -2px;
      }
    }
    label.checkbox_no{
      display: inline-block;
      position: relative;
      margin-left: 70px;
      cursor: pointer;
      &:before{
        content:"";
        border: 4px solid @color-white;
        width: 10px;
        height: 10px;
        background: #ffffff;
        display: block;
        position: absolute;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        box-shadow: 0 0 3px #7B7E80;
        left: -30px;
        top: -2px;
      }
    }

    /*Механизм переключения*/
    input[type="radio"]:checked + label{  &:before{background: #696969;}  }
    /*Механизм переключения конец*/
    .selectbox{
      width: 100%;
      margin-top: 9px;
      .select{
        display: block;
        cursor: pointer;
        overflow: hidden;
        width: 60%;
        .text{
          white-space: nowrap;
          font-weight: 500;
          font-size: .82em;
          color: #000;
          border-bottom: 2px solid #81769f;
          padding: 0 5px 5px;
        }
      }
      .dropdown{
        top: 31px;
        background: url(../img/klyaksa.png) 100% 100% no-repeat;
        background-color: #ffffff;
        z-index: 10000 !important;
        margin-top: -13px;
        border-bottom: 2px solid #81769f;
        ul{
          min-width: 0;
          width: 191px;
          li{
            padding: 13px 5px;
            list-style-type: none;
            overflow: hidden;
            background: url(../img/arrow-right.png) 95% 50% no-repeat;
            white-space: pre-wrap;
            font-size: .82em;
            color: #3f3f3f;
            cursor: pointer;
            &:hover{
              background: #ddd;
            }
          }
        }
      }
    }
    button.submit{
      border: 1px solid @color-grey2;
      color: @color-grey2;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      padding: 8px 2.5%;
      background: #ffffff;
      cursor: pointer;
      margin: 20px 0;
      &:hover{
        background: #dddddd;
      }
    }
  }
}
.partner_box{
  p{
    .font_myriad_pro_regular;
    padding: 20px 9% 0;
    font-size: .8em;
  }
  .box{
    border: 0;
  }
}



/*Где купить*/

.gde_kupit{
  background: @color-white;
  h1{
    font-size: 1.2em;
    padding-top: 14px;
    margin: 0 0 20px 5.5%;
  }
  p.descript{
    font-size: .67em;
    width: 80%;
    margin: 40px 0 0 5.5%;
    line-height: 1.15;
    br{
      padding: 5px;
    }
  }
  h2{
    font-size: 1.18em;
    margin: 48px 5.5% 50px 5.5%;
  }
  .row_partner{
    margin: 0 19% 10px 5.5%;
    p{
      font-size: 1.2em;
      vertical-align: middle;
    }
    select{
      display: inline-block;

    }
    .selectbox{
      width: 300px;
      display: block;
      padding-top: 15px;
      .select{
        display: block;
        cursor: pointer;
        overflow: hidden;
        width: 60%;
        .text{
          white-space: nowrap;
          font-weight: 500;
          font-size: .82em;
          color: #000;
          border-bottom: 2px solid #81769f;
          padding: 0 5px 5px;
        }
      }
      .dropdown{
        top: 31px;
        background: url(../img/klyaksa.png) 100% 100% no-repeat;
        background-color: #ffffff;
        z-index: 10000 !important;
        margin-top: -13px;
        border-bottom: 2px solid #81769f;
        ul{
          min-width: 0;
          width: 191px;
          li{
            padding: 13px 5px;
            list-style-type: none;
            overflow: hidden;
            background: url(../img/arrow-right.png) 95% 50% no-repeat;
            white-space: pre-wrap;
            font-size: .82em;
            color: #3f3f3f;
            cursor: pointer;
            &:hover{
              background: #ddd;
            }
          }
        }
      }
    }
    a.add_partner{
      display: inline-block;
      font-size: .79em;
      color: #000;
    }

  }

}
.map{
  width: 100%;
  height: 330px;
  img{
    width: 100%;
  }
}


/*Модалка о о партнере*/

.modal_background{
  position: absolute;
  width: 100%;
  height: 200%;
  top: 0;
  left: 0;
  z-index: 10;

  .modal_partner{
    background: @color-white;
    position: absolute;
    top: 10%;
    width: 100%;
    border: 1px solid #d7d7d8;


  }
  a.close{
    position: absolute;
    right: 40px;
    top: -35px;
    color: #000;
  }

  table{
    border-collapse: collapse;
    tbody{
      tr{
        td{
          width: 50%;
          img{
            display: block;
            margin: 0 auto;
            padding: 25px 0 0 0;
          }
          p{
            font-size: .94em;
            width: 90%;
            margin: 0 auto;
            line-height: 1.4;
          }
          h3{
            width: 90%;
            margin: 0 auto;
            font-size: 1.39em;
          }
        }
      }
      .row2{
        height: 86px;
      }
      .row3{
        height: 40px;
      }
      .row4{
        height: 51px;
      }
    }
    .line{
      img{
        width: 100%;
      }
    }
  }
  .line{
    padding-top: 16px;
  }
  .town{
    text-align: center;
    a{
      display: inline-block;
      font-size: .93em;
      padding: 36px 2.5%;
      color: #000;
    }
  }
}

/*404 - страница*/

.page_no_found{
  .header_dop_line{
    height: 45px;
    width: 100%;
    background: #fff;
  }
  img.img_no_found{
    margin: 50px auto 0;
    display: block;
    width: 80%;
  }
  p.p_no_found{
    display: block;
    margin: 10px 0 50px 29%;

    font-size: 1.7em;
  }
  .footer_dop_line{
    width: 100%;
    height: 20px;
    background: #fff;
  }
}

/*Контакты*/

/*Контакты*/
input[name="tabs"]{  display: none;  }
input#first_tab:checked ~ .contact_box_control>label.label_for_first_tab{  text-decoration: underline;  }
input#first_tab:checked ~ .tab1{  display: block;  }
input#first_tab:checked ~ .tab2, .tab3{  display: none;  }
input#second_tab:checked ~ .contact_box_control>label.label_for_second_tab{  text-decoration: underline;  }
input#second_tab:checked ~ .tab2{  display: block;  }
input#second_tab:checked ~ .tab1, .tab3{  display: none;  }
input#third_tab:checked ~ .contact_box_control>label.label_for_third_tab{  text-decoration: underline;  }
input#third_tab:checked ~ .tab3{  display: block;  }
input#third_tab:checked ~ .tab1, .tab2{  display: none;  }
.contact_box_control{
  text-align: center;
  background: #fff;
  overflow: hidden;
  label{
    font-size: .67em;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 30px 0 30px 30px;
    padding: 0 1%;

  }


}
.contact_box{
  background: @color-white;
  min-height: 750px;
}
form.contact_form{
  padding-bottom: 60px;
  overflow: hidden;

  h2{
    font-size: 1.181em;
    line-height: 1.3;
    margin: 28px 0 20px 13.5%;
  }
  p.how_name{
    font-size: .87em;
    margin: 26px 0 12px 13.5%;
  }
  input#userName{
    margin: 0 0 15px 13.5%;
    width: 29%;
  }
  .two_subject{
    border: 1px solid #a0a0a0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 21px auto 30px 12%;
    width: 58.5%;
    p{
      margin: -8px 0 0 12px;
      font-size: .8em;
      background: #fff;
      width: 100px;
      padding: 0 5px;
    }
    label{
      font-size: .8em;
      position: relative;
      margin-left: 37px;
      cursor: pointer;
      display: inline-block;
      padding-top: 5px;
      margin-right: 19px;
      &:before{
        content:"";
        width: 10px;
        height: 10px;
        border: 2px solid #FFFFFF;
        background: #FFFFFF;
        -webkit-box-shadow: 0 0 3px #7B7E80;
        -moz-box-shadow: 0 0 3px #7B7E80;
        box-shadow: 0 0 3px #7B7E80;
        display: block;
        position: absolute;
        top: 2px;
        left: -26px;
      }
    }
    input[type="radio"]:checked + label{  &:before{  background: #808080  }  }
  }

  p.partner_info{
    margin-left: 12%;
    padding: 10px 0;
    font-size: .71em;
    span{
      display: block;
      color: #ff0000;
    }
  }

  .left{
    width: 34%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0 4% 0 12%;
  }
  .right{
    width: 34%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0 9% 0 1%;
  }
  label{
    font-size: .82em;
    display: block;
    .font_myriad_pro;
    margin: 5px 0 9px;
  }
  input[type="text"]{
    border: 1px solid #e5e5e5;
    width: 94%;
    height: 21px;
    padding: 0 2%;

    margin: 5px 0 15px;

  }
  .notValid{
    position: relative;
    &:before{
      content:"Вы не заполнили это поле";
      position: absolute;
      right: 0;
      top: 0;
      display: block;
    }
  }
  input[type="radio"]{
    display: none;
  }
  p.label{
    font-size: .82em;
    display: block;
    margin: 5px 0 9px;
  }
  label.checkbox_yes{
    display: inline-block;
    position: relative;
    margin-left: 40px;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 22px;
    &:before{
      content:"";
      border: 4px solid @color-white;
      width: 10px;
      height: 10px;
      background: #ffffff;
      display: block;
      position: absolute;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      box-shadow: 0 0 3px #7B7E80;
      left: -30px;
      top: -2px;
    }
  }
  label.checkbox_no{
    display: inline-block;
    position: relative;
    margin-left: 70px;
    cursor: pointer;
    &:before{
      content:"";
      border: 4px solid @color-white;
      width: 10px;
      height: 10px;
      background: #ffffff;
      display: block;
      position: absolute;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      box-shadow: 0 0 3px #7B7E80;
      left: -30px;
      top: -2px;
    }
  }

  /*Механизм переключения*/
  input[type="radio"]:checked + label{  &:before{background: #696969;}  }
  /*Механизм переключения конец*/
  .selectbox{
    width: 100%;
    margin-top: 9px;
    .select{
      display: block;
      cursor: pointer;
      overflow: hidden;
      width: 60%;
      .text{
        white-space: nowrap;
        font-weight: 500;
        font-size: .82em;
        color: #000;
        border-bottom: 2px solid #81769f;
        padding: 0 5px 5px;
      }
    }
    .dropdown{
      top: 31px;
      background: url(../img/klyaksa.png) 100% 100% no-repeat;
      background-color: #ffffff;
      z-index: 10000 !important;
      margin-top: -13px;
      border-bottom: 2px solid #81769f;
      ul{
        min-width: 0;
        width: 191px;
        li{
          padding: 13px 5px;
          list-style-type: none;
          overflow: hidden;
          background: url(../img/arrow-right.png) 95% 50% no-repeat;
          white-space: pre-wrap;
          font-size: .82em;
          color: #3f3f3f;
          cursor: pointer;
          &:hover{
            background: #ddd;
          }
        }
      }
    }
  }
  button.submit{
    border: 1px solid @color-grey2;
    color: @color-grey2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 8px 2.5%;
    background: #ffffff;
    cursor: pointer;
    margin: 20px 0;
    display: block;
    margin: 20px auto 0;
    &:hover{
      background: #dddddd;
    }
  }
}
.item_contact{
  padding-top: 30px;
  .left{
    margin: 0 4.5%;
    display: block;
    vertical-align: top;
    width: 80%;
    h2{
      font-size: 1.17em;
      margin-bottom: 10px;

    }
    p.name{
      margin-top: 20px;
      font-size: .9em;
      span{
        display: block;
        margin-top: 6px;
        font-size: .87em;
      }
    }
    p.tel{
      margin-top: 28px;
      font-size: .8em;
    }
    p.addr{
      font-size: .8em;
      margin-top: 24px;
      line-height: 1.1;
    }
  }
  .map{
    display: inline-block;
    width: 91%;
    height: 200px;
    margin: 20px 4.5%;
    img{
      width: 100%;
    }
  }
}

/*Модуль управления темой писма*/
input#two_first_subject:checked ~ .two_subject>label.label_two_first_subject {  &:before{  background: #808080  }  }
input#two_second_subject:checked ~ .two_subject>label.label_two_second_subject {  &:before{  background: #808080  }  }
input#two_third_subject:checked ~ .two_subject>label.label_two_third_subject {  &:before{  background: #808080  }  }
input#two_first_subject:checked ~ .form1 {  display: block;  }
input#two_first_subject:checked ~  .form2, .form3 {  display:none;  }
input#two_second_subject:checked ~ .form2 {  display: block;  }
input#two_second_subject:checked ~ .form1, .form3 {  display:none;  }
input#two_third_subject:checked ~ .form3 {  display: block;  }
input#two_third_subject:checked ~ .form1, .form2 {  display:none;  }
/*Модуль управления темой писма конец*/

.form1, .form2, .form3 {  display:none; overflow: hidden;  }

.form1, .form3{
  width: 34%;
  vertical-align: top;
  text-align: left;
  margin: 0 4% 0 12%;
  textarea{
    border: 1px solid #e5e5e5;
    width: 94%;
    height: 130px;
    padding: 0 2%;
    margin: 5px 0 15px;
  }
}

.dop_opros{
  display:none;
  overflow:hidden;

  textarea{
    border: 1px solid #e5e5e5;
    width: 94%;
    height: 130px;
    padding: 0 2%;
    margin: 5px 0 15px;
  }
}
input#checkbox_yes:checked ~ .dop_opros{  display:block;  }

/*Модалка о написать нам*/

.modal_background{
  position: absolute;
  width: 100%;
  height: 200%;
  top: 0;
  left: 0;
  z-index: 10;

  .modal_napisat_nam{
    background: @color-white;
    position: absolute;
    top: 10%;
    width: 100%;
    border: 1px solid #d7d7d8;


  }
  .modal_napisat_nam_otvet{
    height: 590px;
    text-align: center;
    background: @color-white;
    position: absolute;
    top: 10%;
    width: 100%;
    border: 1px solid #d7d7d8;
    h3{
      margin-top: 40%;
      font-size: 1.75em;
      margin-bottom: 30px;
    }
    p{
      font-size: 1.25em;
    }
  }
  a.close{
    position: absolute;
    right: 0;
    top: -35px;
    color: #000;
  }
}


/*Страница поиска*/
.search_box{
  background: @color-white;
  overflow: hidden;
  h4{
    font-size: 1.17em;
    margin-left: 4%;
    margin-top: 52px;
    margin-bottom: 15px;
  }
  p{
    margin-left: 4%;
    margin-top: 24px;
    font-size: .89em;
    line-height: 1.2;
  }
  input[type="text"]{
    display: block;
    width: 70%;
    margin-left: 4%;
    margin-top: 39px;
    margin-bottom: 5px;
  }
  button{
    display: block;
    margin-left: 4%;
    background: #fff;
    border: 0;
    color: #000;
    .font_myriad_pro;
    font-size: .9em;

    &:focus {outline: none;}
  }
  .dop_link{
    text-align: center;
    margin:114px 0 120px;
  }
  a.gp_to_cat{}
  a.go_to_contact{}
  a{
    display: block;
    color: #000;
    margin: 0 10% 20px;
    img{
      display: block;
      margin: 0 auto;
    }
    span{
      display: block;
      margin-top: 36px;
      font-size: .87em;
    }
  }

}

