/* Данный файл содержит в себе только основные стили, которые не меняются в зависимости от расширения экрана

остальные стили лежат в файлах:
 desktop.less  - для дисплеев с большим расширением
 desktop.less - для стационарных компьютеров
 tablet.less - для планшетов
 smartphone.less - для мобильных телефонов
 mobile.less - для мобильных телефонов
 buben.less - в данном файле лежит весь говнокод проекта

ver - 0.1
@autor: Drm Алексеев - www.alekseev.pw  drm-a@yandex.ru
 */
/**********************************************************************/
/***********************Цвета, Шрифты и Миксины************************/
/**********************************************************************/
/*Цвета*/
.background-grad {
  background: #d7e1e7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d4e3e8 0%, #d4e3e8 23%, #d6e5ea 23%, #d7e6eb 29%, #d8e7ee 29%, #d8e7ee 29%, #d5e7eb 30%, #d9e6ec 30%, #d9e8ef 30%, #d7e9ed 31%, #dae9ee 31%, #d8e9f0 32%, #dcebf2 34%, #deeff6 40%, #deeff6 49%, #d8ebf2 54%, #d1e4eb 57%, #d1e4eb 59%, #cee1e8 59%, #cbdee5 62%, #c6d9e0 64%, #c2d4de 68%, #bfd1db 69%, #bed0da 71%, #bcced8 71%, #b9d0d8 71%, #bdced8 72%, #bbcfd8 73%, #baccd6 73%, #baced7 74%, #b5c9d4 79%, #b3c9d6 79%, #b4c8d3 80%, #b2c8d5 81%, #b0c6d1 82%, #b1c7d4 82%, #b1c7d4 83%, #adc3d0 91%, #abc3cf 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d4e3e8), color-stop(23%, #d4e3e8), color-stop(23%, #d6e5ea), color-stop(29%, #d7e6eb), color-stop(29%, #d8e7ee), color-stop(29%, #d8e7ee), color-stop(30%, #d5e7eb), color-stop(30%, #d9e6ec), color-stop(30%, #d9e8ef), color-stop(31%, #d7e9ed), color-stop(31%, #dae9ee), color-stop(32%, #d8e9f0), color-stop(34%, #dcebf2), color-stop(40%, #deeff6), color-stop(49%, #deeff6), color-stop(54%, #d8ebf2), color-stop(57%, #d1e4eb), color-stop(59%, #d1e4eb), color-stop(59%, #cee1e8), color-stop(62%, #cbdee5), color-stop(64%, #c6d9e0), color-stop(68%, #c2d4de), color-stop(69%, #bfd1db), color-stop(71%, #bed0da), color-stop(71%, #bcced8), color-stop(71%, #b9d0d8), color-stop(72%, #bdced8), color-stop(73%, #bbcfd8), color-stop(73%, #baccd6), color-stop(74%, #baced7), color-stop(79%, #b5c9d4), color-stop(79%, #b3c9d6), color-stop(80%, #b4c8d3), color-stop(81%, #b2c8d5), color-stop(82%, #b0c6d1), color-stop(82%, #b1c7d4), color-stop(83%, #b1c7d4), color-stop(91%, #adc3d0), color-stop(100%, #abc3cf));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d4e3e8 0%, #d4e3e8 23%, #d6e5ea 23%, #d7e6eb 29%, #d8e7ee 29%, #d8e7ee 29%, #d5e7eb 30%, #d9e6ec 30%, #d9e8ef 30%, #d7e9ed 31%, #dae9ee 31%, #d8e9f0 32%, #dcebf2 34%, #deeff6 40%, #deeff6 49%, #d8ebf2 54%, #d1e4eb 57%, #d1e4eb 59%, #cee1e8 59%, #cbdee5 62%, #c6d9e0 64%, #c2d4de 68%, #bfd1db 69%, #bed0da 71%, #bcced8 71%, #b9d0d8 71%, #bdced8 72%, #bbcfd8 73%, #baccd6 73%, #baced7 74%, #b5c9d4 79%, #b3c9d6 79%, #b4c8d3 80%, #b2c8d5 81%, #b0c6d1 82%, #b1c7d4 82%, #b1c7d4 83%, #adc3d0 91%, #abc3cf 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d4e3e8 0%, #d4e3e8 23%, #d6e5ea 23%, #d7e6eb 29%, #d8e7ee 29%, #d8e7ee 29%, #d5e7eb 30%, #d9e6ec 30%, #d9e8ef 30%, #d7e9ed 31%, #dae9ee 31%, #d8e9f0 32%, #dcebf2 34%, #deeff6 40%, #deeff6 49%, #d8ebf2 54%, #d1e4eb 57%, #d1e4eb 59%, #cee1e8 59%, #cbdee5 62%, #c6d9e0 64%, #c2d4de 68%, #bfd1db 69%, #bed0da 71%, #bcced8 71%, #b9d0d8 71%, #bdced8 72%, #bbcfd8 73%, #baccd6 73%, #baced7 74%, #b5c9d4 79%, #b3c9d6 79%, #b4c8d3 80%, #b2c8d5 81%, #b0c6d1 82%, #b1c7d4 82%, #b1c7d4 83%, #adc3d0 91%, #abc3cf 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d4e3e8 0%, #d4e3e8 23%, #d6e5ea 23%, #d7e6eb 29%, #d8e7ee 29%, #d8e7ee 29%, #d5e7eb 30%, #d9e6ec 30%, #d9e8ef 30%, #d7e9ed 31%, #dae9ee 31%, #d8e9f0 32%, #dcebf2 34%, #deeff6 40%, #deeff6 49%, #d8ebf2 54%, #d1e4eb 57%, #d1e4eb 59%, #cee1e8 59%, #cbdee5 62%, #c6d9e0 64%, #c2d4de 68%, #bfd1db 69%, #bed0da 71%, #bcced8 71%, #b9d0d8 71%, #bdced8 72%, #bbcfd8 73%, #baccd6 73%, #baced7 74%, #b5c9d4 79%, #b3c9d6 79%, #b4c8d3 80%, #b2c8d5 81%, #b0c6d1 82%, #b1c7d4 82%, #b1c7d4 83%, #adc3d0 91%, #abc3cf 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d4e3e8 0%, #d4e3e8 23%, #d6e5ea 23%, #d7e6eb 29%, #d8e7ee 29%, #d8e7ee 29%, #d5e7eb 30%, #d9e6ec 30%, #d9e8ef 30%, #d7e9ed 31%, #dae9ee 31%, #d8e9f0 32%, #dcebf2 34%, #deeff6 40%, #deeff6 49%, #d8ebf2 54%, #d1e4eb 57%, #d1e4eb 59%, #cee1e8 59%, #cbdee5 62%, #c6d9e0 64%, #c2d4de 68%, #bfd1db 69%, #bed0da 71%, #bcced8 71%, #b9d0d8 71%, #bdced8 72%, #bbcfd8 73%, #baccd6 73%, #baced7 74%, #b5c9d4 79%, #b3c9d6 79%, #b4c8d3 80%, #b2c8d5 81%, #b0c6d1 82%, #b1c7d4 82%, #b1c7d4 83%, #adc3d0 91%, #abc3cf 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4e3e8', endColorstr='#abc3cf', GradientType=0);
  /* IE6-9 */
}
/*Шрифты*/
@font-face {
  font-family: 'Conv_dincondensedc';
  src: url('../font/dincondensedc.eot');
  src: local('☺'), url('../font/dincondensedc.woff') format('woff'), url('../font/dincondensedc.ttf') format('truetype'), url('../font/dincondensedc.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Museo_Cyrl_300';
  src: url('../font/Museo_Cyrl_300.eot');
  src: local('☺'), url('../font/Museo_Cyrl_300.woff') format('woff'), url('../font/Museo_Cyrl_300.ttf') format('truetype'), url('../font/Museo_Cyrl_300.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Museo_Cyrl_500';
  src: url('../font/Museo_Cyrl_500.eot');
  src: local('☺'), url('../font/Museo_Cyrl_500.woff') format('woff'), url('../font/Museo_Cyrl_500.ttf') format('truetype'), url('../font/Museo_Cyrl_500.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Myriad_Pro_Light';
  src: url('../font/Myriad_Pro_Light.eot');
  src: local('☺'), url('../font/Myriad_Pro_Light.woff') format('woff'), url('../font/Myriad_Pro_Light.ttf') format('truetype'), url('../font/Myriad_Pro_Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Myriad_Pro_bold';
  src: url('../font/Myriad_Pro_bold.eot');
  src: local('☺'), url('../font/Myriad_Pro_bold.woff') format('woff'), url('../font/Myriad_Pro_bold.ttf') format('truetype'), url('../font/Myriad_Pro_bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Myriad_Pro_Regular';
  src: url('../font/Myriad_Pro_Regular.eot');
  src: local('☺'), url('../font/Myriad_Pro_Regular.woff') format('woff'), url('../font/Myriad_Pro_Regular.ttf') format('truetype'), url('../font/Myriad_Pro_Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font_dincondensedc {
  font-family: 'Conv_dincondensedc';
}
.font_Museo_300 {
  font-family: 'Conv_Museo_Cyrl_300';
  font-weight: 300;
}
.font_Museo_500 {
  font-family: 'Conv_Museo_Cyrl_500';
  font-weight: 500;
}
.font_myriad_pro {
  font-family: 'Conv_Myriad_Pro_Light';
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.font_myriad_pro_bold {
  font-family: 'Conv_Myriad_Pro_bold';
}
.font_myriad_pro_regular {
  font-family: 'Conv_Myriad_Pro_Regular';
}
/*Миксины*/
body,
ul {
  margin: 0;
  padding: 0;
  min-width: 360px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label {
  font-family: 'Conv_Myriad_Pro_Light';
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.blur {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.content_underline {
  background: url(../img/box-shadow.jpg) 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 14px;
  width: 100%;
  background-color: #fff;
}
.red_label {
  color: red;
}
input:focus {
  outline: none;
}
